#tribe-events-bar{
	margin-bottom: 15px;
	#tribe-bar-form{
		background: $white;
		label{
			font-size: $event-label-form-font-size;
			font-weight: $event-label-form-font-weight;
			color: $black;
		}
		.first-column{
			padding-top: 15px;
			padding-bottom: 15px;
			border: 1px solid #E5E5E5;
			border-bottom: 0;
			input{
				margin-top: 10px;
				height: 30px;
				font-weight: 700;
				border-bottom: 1px solid #E5E5E5;
				font-size: 12px;
			}
			.tribe-bar-submit button{
				margin-top: 4px;
			}
		}
		.second-column{
			padding: 0; 
			#tribe-bar-views{
				left: 0;
				padding: 15px 0;
				width: 100%;
				text-align: center;
				background: #F2F2F2;
			}	
			.tribe-bar-views-list{ 
				padding: 0;
				> li{
					display: inline-block;
					padding: 5px 10px;
					border: 1px solid $black;
					background: none;
					margin: 0 5px;
					@include border-radius(3px);
					a{
						background: none;
						color: $black;
						font-weight: 300;
						text-transform: uppercase;
						font-size: 14px;
						span{
							line-height: 17px;
						}
					}
					&.tribe-bar-active, &:hover{
						background: $theme-color;
						border-color: $theme-color;
						a{
							color: $white;
						}	
					}
				}
			}
			.tribe-bar-views-inner{
				background: none;
				padding: 5px 0 45px;
			}
		}
	}
	.tribe-bar-submit{
		button{
			background: $theme-color;
			@include border-radius(3px);
			color: $white;
			@include transition(all 0.35s);
			&:hover{
				background: $white;
				border: 1px solid $black;
				color: $black;
			}
		}
	}
}	

.tribe-events-list {
	.tribe-events-page-title{
		display: none;
	}
	.type-tribe_events{
		padding: 0 $grid-gutter-width/2!important;
		.wpo-event-inner{
			position: relative;
			margin-bottom: 45px;
			.event-top {
				overflow: hidden;
			}
			.event-meta{
				width: 100%;
				float: left;
				font-family: $font-family-second;
				font-size: 12px;
				position: relative;
				padding-left: 130px;
				padding-right: 15px;
				.meta-left{
					position: absolute;
					@include size(105px, 100%);
					top: 0;
					left: 0;
					background: $theme-color;
					padding-top: 20px;
					> p{
						font-family: $font-family-second;
						text-align: center;
						color: $white;
						text-transform: uppercase;
						line-height: 1;
					}
					.day{
						font-size: 30px;
						position: relative;
						padding-bottom: 5px;
						margin-bottom: 5px;

						&:after{
							content: "";
							@include size(40px, 1px);
							position: absolute;
							background: $white;
							bottom: 0;
							left: 50%;
							margin-left: -20px;
							z-index: 1;
						}
					}
					.month{
						font-size: 12px;
					}
				}
				.meta-right{
					> span{
						float: left;
						margin-right: 15px;
						color: #aaaaaa;
						line-height: 1;
						i{
							margin-right: 5px;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
			.description{
				
			}
			&.style-2{
				margin: 0;
				position: relative;
				.event-date{
					position: absolute;
					top: 0;
					left: 0;
					margin-top: 0;
					@include size(70px, 70px);
					background: $theme-color;
					text-align: center;
					padding-top: 12px;
					>*{
						margin: 0;
						font-weight: 800;
						color: $white;
						text-transform: uppercase;
					}
					.day{
						font-size: 30px;
						line-height: 35px;
					}
					.month{
						font-size: 14px;
						line-height: 14px;
						font-weight: 400;
					}
				}
				.entry-title{
					a{
						font-size: 20px;
						font-weight: 800;
						color: $black!important;
						text-transform: uppercase;
						position: relative;
						display: block;
						padding-bottom: 25px;
						margin-bottom: 25px;
						line-height: 30px;
						@include transition(all 0.35s);
						&:hover{
							color: $theme-color!important;
						}
						&:after{
							content: "";
							@include size(70px, 2px);
							background: $theme-color;
							left: 0;
							bottom: 0;
							position: absolute;
						}
					}
				}
				.event-body{
					border: 1px solid #F5F5F5;
					background: $white;
					.left{
						padding: 0 150px 0 30px!important;
						@media(max-width: $screen-sm-max){
							padding: 0 100 0 30px!important;
						}
					}
					.right{
						background: $white;
						color: $theme-color;
						border: none;
						.event-cost{
							line-height: 1;
							margin-top: 30px;
							font-size: 30px;
							font-weight: 800;
							text-align: left;
							@media(max-width: $screen-sm-max){
								font-size: 20px;
							}
							.free{
								color: #CCCCCC;
							}
						}
					}
				}	
				.tribe-events-address, .time-details{
					color: #54575a;
				}
			}
		}
	}
}	

.events-list .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.tribe-events-day .tribe-events-loop{
	max-width: 100%!important;
}

.tribe-events-list {
	.tribe-events-event-image{
		width: 100%;
		margin: 0;
		position: relative;
	}
}

.tribe-events-loop{
	.tribe-events-list-separator-month{
		margin: 0 0 60px;
		background: none;
		color: $black;
		text-transform: uppercase;
		display: block;
		float: left;
		width: 100%;
		overflow: hidden;
		&:before, &:after{
			content: none;
		}
		> span{
			background: none;
			color: $black;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 900;
			padding: 0 30px;
			position: relative;
			display: inline-block;
			padding-bottom: 10px;
			&:before{
				content: "";
				position: absolute;
				@include size(90px, 2px);
				background: $theme-color;
				left: 50%;
				margin-left: -45px;
				z-index: 1;
				bottom: 0;
			}
			
		}	
	}
	.tribe-events-event-meta{  
		margin: 0;
	}
	.tribe-events-day-time-slot h5{
		margin: 30px 0;
		background: none;
		color: $black;
		text-transform: uppercase;
		padding: 10px 0;
		font-size: 24px;
		font-weight: 900;
		display: block;
	}
}

//--- Event detail-------------
.single-tribe_events .tribe-events-event-meta{
	margin: 0 0 30px;
}
.wpo-tribe-events-meta {
	.tribe-events-venue-map{
		width: 100%;
		margin: 0;
	}
	.tribe-events-meta-group {
		width: 100%;
		.tribe-events-single-section-title{
			font-weight: 18px;
			font-weight: 900;
			text-transform: uppercase;
		}
		dl {
			.clearfix{
				padding: 2.5px 0;
			}
			dt{
				clear: both;
				float: left;
				padding-right: 10px;
				width: 140px;
				font-size: 13px;
				text-transform: uppercase;
			}
			dd{
				width: 100%;
				padding-left: 120px;
				&.author, &.location{
					padding: 0;
				}
			}
		}
		.fn.org{
			padding: 0;
			font-weight: 700;
			color: $theme-color;
			font-style: italic;
		}
	}
}	

//---- View Day ---------
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events{
	margin: 0;
}

//-----Widget Event Countdown-----------
.wpo-event-countdown{
	&.layout-1{
		background: $theme-color;
		padding: 40px 30px 0;
	}
	.layout-1{
		.event-title{
			.event-date{
				color: rgba(255, 255, 255, 0.3);
				font-size: 14px;
				margin-bottom: 3px;
				i{
					margin-right: 5px;
				}
			}
			.entry-title{
				margin: 0;
				a{
					font-family: $font-family-base;
					color: $white;
					font-size: 24px;
					font-weight: 700;
				}
			}
		}
		.event-time{
			background: $white;
			padding: 0 20px;
			margin-left: -30px;
			margin-right: -30px;
			position: relative;
			.label-start{
				position: absolute;
				@include size(52px, 100%);
				right: 100%;
				top: 0;
				z-index: 1;
				background: #DF124D;
				span{ 
					@include rotate(90deg);
					-webkit-transform-origin: left top 0;
     				-moz-transform-origin: left top 0;
      			-ms-transform-origin: left top 0; 
          		transform-origin: left top 0;
					position: absolute;
				   top: 0;
				   left: 52px;
				   height: 52px;
				   width: 120px;
				   z-index: 1;
				   line-height: 52px;
				   display: block;
				   text-align: center;
				   font-family: $font-family-second;
				   font-weight: 700;
				   text-transform: uppercase;
				}
			}
			.heading-time{
				padding: 15px 0;
				font-weight: 700;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.2);
				text-align: center;
				font-size: 14px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			}
			.time{
				padding: 26px 0;
				.countdown-times{
					> div{
						float: left;
						width: 25%;
						color: #1c2043;
						text-align: center;
						font-weight: 400;
						font-size: 12px;
						font-family: $font-family-second;
						b{
							display: block;
							width: 100%;
							font-weight: 700;
							font-size: 48px;
							color: #1c2043;
							line-height: 1;
							font-family: $font-family-second;
						}
					}	
				}
			}	
		}
		.event-action{

		}
	}
	
}

.tribe-events-accordion{
	.tribe_events{
		border: 0;
		border-bottom: 1px solid $border-color;
		margin: 0!important;
	}
	.panel-heading{
		position: relative;
		.heading-icon{
			float: left;
			font-size: 30px;
			color: $text-color;
			position: absolute;
			left: 30px;
			top: 50%;
			margin-top: -25px;
		}
		.arrow{
			display: block;
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -10px;
			@include transition(all 0.25s);
		}
		.date{
			font-size: 14px;
			font-weight: 400;
			i{
				margin-right: 10px;
			}
		}
		.heading-inner{
			padding-left: 75px;
			.panel-title{
				text-transform: uppercase;
				font-weight: 700;
				a{
					font-size: 18px; 
				}
			}
		}
		&.active{
			background: $theme-color;
			.date, .heading-icon i, .panel-title{
				color: $white;
			}
			.arrow{
				color: $white;
				@include rotate(-90deg);
			}
		}
	}	
	.event-desc{
		background: none repeat scroll 0 0 $theme-color;
		padding: 25px;
		color: $white;
		line-height: 1.4;
		a{
			color: $white;
			&:hover{
				color: $black;
			}
		}
		.readmore{
			font-weight: 700;
		}
	}
	.event-body{
		padding: 20px 0;
		.left{
			width: 80px;
			img{
				width: 100%;
			}
			float: left;
		}
		.right{
			padding-left: 90px;
			line-height: 1.2;
			.readmore{
				margin: 5px 0 0;
				a{
					font-weight: 700;
					font-size: 12px;
					color: $theme-color;
					text-transform: uppercase; 
					&:hover{
						color: $black;
					}
				}	
			}
		}
	} 

	.tribe-events-content{
		.event-detail-tab {
			display: none;
			&.active{
				display: block;
			}
		}
		.event-title{
			padding: 25px;
			background: $theme-color;
			text-align: center;
			.event-date{
				color: rgba(255, 255, 255, 0.3); 
				font-size: 14px;
				margin-bottom: 3px;
				i{
					margin-right: 5px;
				}
			}
			.entry-title{
				text-align: center;
				margin: 0;
				a{
					color: $white;
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
		.event-time{
			background: $theme-color-second;
			padding: 0 20px;
			.heading-time{
				padding: 15px 0;
				font-weight: 700;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.2);
				text-align: center;
				font-size: 14px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			}
			.time{
				padding: 30px 0;
				.countdown-times{
					> div{
						float: left;
						width: 25%;
						border-right: 1px solid rgba(255, 255, 255, 0.1);
						color: rgba(255, 255, 255, 0.2);
						text-align: center;
						font-weight: 700;
						font-size: 14px;
						b{
							display: block;
							width: 100%;
							font-weight: 700;
							font-size: 30px;
							color: $white;
						}
						&:last-child{
							border: none;
						}
					}	
				}
			}	
			.lof-labelexpired{
				color: $white;
				text-align: center;
			}
		}
	}
}

.tribe-events-month{
	.tribe-events-page-title{
		margin: 0;
		padding: 30px 0;
		background: none;
		text-transform: uppercase;
		font-size: 24px!important;
		font-weight: 800!important;
		color: $black!important;
	}
	#tribe-events-header{
		margin: 0!important;
	}
	table{
		margin: 0!important;
	}
	#tribe-events-content .tribe-events-calendar{
		td{
			width: 140px!important;
		}
	}
	table.tribe-events-calendar{
		border: none!important;
		border-spacing: 10px!important;
		border-collapse: separate!important;
		thead tr th{
			background: #F2F2F2!important;
			border: none!important;
			color: $black;
		} 
		tr td{
			border-top:1px solid #D2D2D2!important;
			.tribe-month-single-day{
				min-height: 220px!important;
			}
		}
	}
	.tribe-events-thismonth{
		padding: 0!important;
		&.tribe-events-present{
			position: relative;
			&:after{ 
				position: absolute;
				@include size(12px, 12px);
				@include border-radius(50%);
				background: $theme-color;
				content: "";
				top: 20px;
				right: 20px;
				z-index: 99; 
			}
		}
	}
	.tribe-month-single-day{
		position: relative;
		height: 100%;
		.tribe-month-daynumber {
			background: none!important;
			padding: 0; 
			a{
				@include size(38px, 38px);
				padding-top: 8px;
				text-align: center;
				display: block;
				background: #F2F2F2!important;
				color: $black!important;
				font-size: 18px!important;
				font-weight: 400!important;
			}
		}
		.tribe-month-sigle-day-list{
			display: none;
			background: $white;
			padding: 18px;
			position: absolute;
			min-width: 430px;
			z-index: 9999;
			top: 100%;
			left: 0;
			@include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.3));
			@media(max-width: $screen-xs-max){
				display: none;
			}
			&:before{
				content: "";
				border: 10px solid $nocolor;
				position: absolute;
				border-bottom-color: $white;
				bottom: 100%;
				left: 18px;
			}
			> div{
				width: 100%;
				padding: 0!important;
				margin: 0 0 10px!important;
				border: none!important;
				.entry-title a{
					color: #5d5d5d!important;
					font-size: 14px;
					font-weight: 700!important;
					text-transform: uppercase;
					padding-bottom: 5px;
					&:hover{
						color: $theme-color!important;
					}
				}
				.date{
					color: #b3b3b3;
					font-size: 12px;
					i{
						margin-right: 8px;
					}
				}
				.thumbnail{
					@include size(65px, auto);
					float: left;
					margin: 0 10px 0!important;
				}
			}
		}
		.tribe-events-viewmore{
			border: none!important;
			display: inline-block;
			text-transform: none;
			background: $theme-color;
			@include border-radius(3px);
			padding: 2px!important;
			line-height: 1;
			margin-top: 20px;
			a{
				color: #5d5d5d;
				font-weight: 400!important;
			}
			&:hover a, &:focus a{
				color: $black;
			}
		}
		&:hover, &:focus{
			background: $theme-color;
			cursor: pointer;
			@include box-shadow(none);
			.tribe-month-sigle-day-list{
				display: block;
			}
			.tribe-events-viewmore{
				background: $white!important;
			}
		}
	}
	#tribe-events-footer{
		margin-top: 20px;
		ul{
			padding: 0!important;
		}
		.tribe-events-sub-nav{
			a{
				font-size: 16px;
				font-weight: 800!important;
				text-transform: uppercase!important;
				color: #5d5d5d;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}	
}	

//Event list style default
.event-item-list{
	&.style-default{
		min-height: 100px;
		margin-bottom: 30px;
		background: $white;
		border-left: 2px solid $theme-color;
		&:last-child{
			margin-bottom: 0;
		}
		.event-date{ 
			width: 100px;
			min-height: 100px;
			float: left;
			background: $white;
			padding-top: 18px;
			border-right: 1px solid $border-color;
			span{ 
				display: block;
				text-align: center;
				color: $theme-color;
				font-family: $font-family-second;
				text-transform: uppercase;
				line-height: 1;
				&.date{
					font-size: 36px;
					position: relative;
					margin-bottom: 5px;
					padding-bottom: 5px;
					&:after{
						content: "";
						@include size(40px, 1px);
						position: absolute;
						background: $theme-color;
						bottom: 0;
						left: 50%;
						margin-left: -20px;
						z-index: 1;
					}
				}
			}
		}
		.event-header{
			padding-left: 120px;
			padding-top: 30px;
			.event-title{
				margin: 0 0 5px;	
			}
		}
		.event-meta{
			margin-bottom: 10px;
			overflow: hidden;
			> span{
				font-size: 12px;
				color: #aaaaaa;
				float: left;
				text-transform: uppercase;
				margin-right: 20px;
				font-family: $font-family-second;
				i{
					margin-right: 5px;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

.widget-event-slide{
	.owl-item{
		padding: 0!important;
	}
	.item-event{
		position: relative;
		.event_heading{
			color: $white;
			text-align: center;
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			margin-top: -100px;
			h2{ 
				margin: 0 0 30px;
			}
			a{
				color: $white;
			}
			.event-title{
				font-size: 70px;
				font-weight: 300;
				font-family: $font-family-base;
			}
			.event-des{
				font-size: 14px;
				font-family: $font-family-second;
				padding-left: 20%;
				padding-right: 20%;
				@media(max-width: $screen-sm-max){
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		.event-meta{
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			.event-meta-inner{
				background: $white;
				position: relative;
				overflow: hidden;
				padding-left: 55px;
				width: 75%;
				margin: 0 auto;
				@media(max-width: $screen-sm-max){
					width: 100%;
				}
				>*{
					float: left;
					display: inline-block;
					&.time{
						width: 70%;
						width: calc(100% - 225px);
						width: -ms-calc(100% - 225px);
						width: -moz-calc(100% - 225px);
						width: -webkit-calc(100% - 225px);
						.countdown-times > *{
							width: 25%;
						}
					}
				}
			}	
		}
		.event-label{
			background: #DF124D;
			color: $white;
			font-size: 14px;
			font-weight: 700;
			font-family: $font-family-second;
			@include size(120px, 52px);
			position: absolute;
			top: 0;
			left: 0;
			@include rotate(-90deg);
			text-transform: uppercase;
			font-size: 14px;
			display: block;
			margin-left: -35px;
			margin-top: 28px;
			padding-top: 13px;
			text-align: center;
			span{

			}
		}
		.pts-countdown{
			.countdown-times{
				width: 100%;
				> div{
					text-align: center;
					padding: 20px 0 15px;
					float: left;
					font-size: 12px;
					font-weight: 400;
					color: #1c2043;
					font-family: $font-family-second;
					b{ 
						font-size: 48px;
						display: block;
						color: #1c2043;
						line-height: 1;
						font-family: $font-family-second;
						font-weight: 700;
					}
					&:first-child{
						margin-left: 0;
					}
				}
			}	
		}
	}	
}

.wpo-event-frontend{
	.image{
		position: relative;
		.excerpt{
			position: absolute;
			top: 20px;
			bottom: 20px;
			left: 20px;
			right: 20px;
			@include opacity(0);
			@include scale(0);
			@include transition(all 0.35s);
			background: rgba(255, 255, 255, 0.8);
			padding: 30px;

		}
	}	
	&.style-1{
		.wpo-event-inner{
			&:hover{
				.image{
					.excerpt{
						@include opacity(1);
						@include scale(1);
					}
				}		
			}
		}	
	}
	&.style-2{
		.widget-content > .row{
			width: 100%;
		}
		.item-event{
			.wpo-event-inner{
				margin-bottom: 0;
			}
			.tribe-events-event-image{
				display: none;
			}
			.event-meta{
				padding: 0 0 0 85px !important;
				min-height: 100px;
			}
			.tribe-events-address{
				line-height: 1;
			}
			.meta-left{
				background: none!important;
				width: 75px!important;
				border-left: 1px solid $border-color;
				p{
					color: $theme-color!important;
					&.day:after{
						background: $border-color!important;
					}
				}	
			}
		}
	}
}