/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    margin: 0px;
    border: 0px solid $navbar-mega-border;
    @include border-radius(0);
    .navbar-nav{
        float: none;
        > .open{
            > a{
                border-color: $nocolor;
                border-left-color: rgba(0, 0, 0, 0.1);
                color: $navbar-link-hover-color;
                background: $navbar-link-hover-bg;
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            @include clear-list();
            li{
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        left: 100%;
                        right: auto;
                        position: absolute;                     
                    }
                }
            }
        }
        li{
            &.active{
                background: none;
                > a{
                    background: none;
                    color: $theme-color!important;
                    .caret{
                        color: $theme-color;
                    }
                }
            }
            a{
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color!important;
                }
            }    
            &.open > a{
                background: none;
                color: $theme-color!important;
            }
        }
        > li{
            float: left;
            @include inline-block();
            margin-top: 0;
            padding: 18px 0;
            > a{
                font-family: $font-family-second;
                position: relative;
                color: $navbar-link-color;
                padding: $navbar-link-padding;
                @media(max-width: $screen-md-max){
                    padding: 0 10px!important;
                }
                margin: $navbar-link-margin;
                text-transform: $navbar-text-transform;
                font-weight: $navbar-font-weight;
                @include border-radius(0);
                @include font-size(font-size, $navbar-font-size);
                @include transition(all 0.35s);
                @media(max-width: $screen-md-max){
                    padding: 0 15px;
                } 
                &:before{
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 16px;
                    right: 16px;
                    @include size(auto, 2px);
                    background: $theme-color; 
                    z-index: 9;
                    @include opacity(0);
                    @include transition(all 0.35s); 
                }
                .caret{
                    color: #222222;
                    border-width: 3px;
                    @include transition(all 0.35s);
                }

                &:hover, &:focus{
                    color: $theme-color!important;
                    background: $navbar-link-hover-bg;
                    &:before{
                        @include opacity(1);
                    }
                    .caret{
                        color: $theme-color!important;
                    }
                }
            }
            
            &:hover{
                > .dropdown-menu{
                    display: block;
                }
            }
            &:first-child a{
                border: none;
            }
        
            .dropdown-menu{
                padding-top: 15px;
                border-top: 2px solid $theme-color!important;
                background: $navbar-dropdown-bg;
                min-width: $navbar-dropdown-size;
                @include border-radius(0);
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                ul.dropdown-menu{
                    left: 100%;
                    top: 0;
                    position: absolute;
                }
                .row{
                    padding-top: 0;
                }
                li{
                    display: block;
                    padding: 0;
                    position: relative;
                    a{
                        min-height: inherit;
                        display: block;
                        font-weight: $navbar-dropdown-link-font-weight;
                        padding: $navbar-dropdown-padding;
                        color: $navbar-dropdown-link-color;
                        text-transform: $navbar-dropdown-link-transform;
                        @include transition(all .2s linear);
                        @include font-size(font-size,$navbar-dropdown-link-font-size);
                        &:hover{
                            color: $navbar-dropdown-link-hover-color;
                            background: $navbar-dropdown-link-hover-bg;
                        }
                    }
                    &:last-child{
                        border: 0;
                    }
                }
            }
            .mega-dropdown-menu{
                padding: $theme-padding + 10;
                ul{
                    li{
                        a{
                            @include rtl-padding-left(0);
                            @include rtl-padding-right(0);
                            &:hover{
                                @include rtl-padding-left(10px);
                                @include rtl-padding-right(10px);
                            }
                        }
                    }
                }
            }
        }
        > .active{
            background: $navbar-link-active-bg;
           >  a{
                color: $navbar-link-active-color;
                &:before{
                    @include opacity(1);
                }
            }
        }
        > .aligned-fullwidth{
            position: static !important;
            > .dropdown-menu{
                width: 100% !important;
            }
        } 
        > .aligned-right{
            > .dropdown-menu{
                right: 0;
                left: auto;
            }
        }
        .container-mega{
            .row {
                padding-bottom: 0;
                margin: 15px 0 30px!important;
                width: 100%;
                position: relative;
                overflow: hidden;
                > div{
                    position: relative;
                    &:after{
                        content: "";
                        @include size(1px, 1000px);
                        background: #423B4D;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:first-child:after{
                        content: none;
                    }
                }
            }
        }
    }
    .#{$block-selector} {
        #{$block-heading-selector}{
            font-size: 12px;
            font-weight: 400;
            color: $white;
            text-align: left;
            text-transform: uppercase;
            padding: 10px 20px;
            margin: 0!important;
            &:after, &:before{
                content: none;
            }
        }
        &.widget_nav_menu{
            ul li a{
                &:after{
                    content: none!important;
                }
            }
        }
    }        
}

//Skin menu
nav#wpo-mainnav{
    #main-menu{
        display: inline-block;
        margin-bottom: -5px;
    }
    &.padding-large{
        .navbar-nav > li{
            padding: $navbar-link-large-padding;
            
            @media(max-width: $screen-sm-max){
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }    
    }

    &.padding-small{
        .navbar-nav > li{
            padding: $navbar-link-small-padding;
        }    
    }

    &.border{
        .navbar-nav > li{
            border-left: 1px solid $border-color;
            >a{
                border: none;
            }
        }    
    }

    &.style-dark{
        .navbar-nav > li{
            border-color: rgba(255, 255, 255, 0.1);
            > a{
                color: $white;
                border-color: rgba(255, 255, 255, 0.1);
                .caret{
                    color: $white;
                }
                &:hover{
                    color: $theme-color;
                }
            }  
            &.active{
                .caret{
                    color: $theme-color;
                }
            }
        }    
    }
}

.bg-menu-v1{
    background: $nocolor;
}
.bg-menu-v2{
    background: $white;
}
.bg-menu-v3{
    background: #2E2739;
}
.bg-menu-v4{
    background: #332C3E;
}