body{
   #wpo-content{
      margin-bottom: 30px;
   }
   .container-fuild{
      #wpo-content{
         margin-bottom: 0;
      }
   }
}
.page{
   .page-title{
      font-size: 24px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 15px;
      &:before{
         content: "";
         @include size(30px, 2px);
         background: $theme-color;
         position: absolute;
         bottom: 0;
         left: 0; 
         z-index: 1;
      }
   }
}
.notfound-page{
   background: url(#{$image-theme-path}bg-404.jpg) center center no-repeat $nocolor;
   .content-inner{
      display: inline-block;
      > *{
         display: inline-block!important;
         float: left;
      }
   }
   .title{
      font-size: 300px;
      color: #FFF;
      font-weight: 700;
      line-height: 1;
      display: block;
      font-family: $font-family-second;
      @media(max-width: $screen-xs-max){
         font-size: 100px;
         display: block;
         width: 100%;
         text-align: center;
      }
      .sub{
         font-size: 36px;
         font-weight: 300;
         color: $white;
         padding: 30px 0;
         margin: 0 0 30px;
         display: block;
         position: relative;
         font-family: $font-family-second;
      }
   }
   .error-description{
      color: $white;
      font-size: 20px;
      @media(max-width: $screen-sm-max){
         padding: 0 10px;
      }
   }
   .page-action{
      margin-top: 50px;
      a{
         margin: 10px;
      }
   }
}

.single{
   .post-share{
      padding: 20px 0;
      text-transform: uppercase;
      .wpo-social-share{
         float: right;
      }
   }   
   .wpo-post-next{
      margin-bottom: 35px;
      float: right;
      display: inline-block;
      .btn{
         margin-right: 10px;
         &:last-child{
            margin-right: 0;
         } 
         a{
            color: $white;
         }
         &:hover a{
            color: $theme-color;
         } 
      }
   }
   #comments{
      .title{
         font-family: $font-family-second;
         font-size: 30px;
         font-weight: 700;
         position: relative;
         padding-bottom: 15px;
         margin-bottom: 20px;
         &:after{
            content: "";
            @include size(100px, 2px);
            background: $theme-color;
            left: 0;
            bottom: 0;
            position: absolute;
            position: absolute;
         }
      }
      ul li, ol li{
         list-style: none;
      }
      .form-control{
         @include border-radius(3px);
         input{
            height: 52px;
         }
      }
   }
}

.woocommerce-page{
   &.woocommerce-checkout{
      h3{
         font-size: 24px;
         text-transform: uppercase;
         position: relative;
         padding-bottom: 25px;
         margin-bottom: 20px;
         &:before{
            content: "";
            @include size(30px, 2px);
            background: $theme-color;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
         }
      }
      .woocommerce-shipping-fields{
         display: table;
         width: 100%;
         clear: both;
      }
   }
}

.single-portfolio {
   .entry-title{
      margin: 10px 0 25px;
      .title-post{
         text-transform: uppercase;
         margin: 0 0 15px;
      }
   }
   .created{
      color: #bbbbbb;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
   }
   .single-body{
      margin-top: 50px;
   }
   .list-gallery{
      .row{
         margin-bottom: 28px;
      }
   }
   .format-video .content-video{
      background: #FAFAFA;
   }
   .format-infomation .single-body{
      margin-top: 0;
      .portfolio-info{
         margin-bottom: 30px;
         > div{
            padding: 10px 0;
            border-top: 1px solid #F1F1F1;
            &:last-child{
               border-bottom: 1px solid #F1F1F1;
            }
            > span{
               font-size: 16px;
               font-weight: 300;
               &:first-child{
                  width: 90px;
                  display: inline-block;
                  color: #777777;
               }
               &:last-child{
                  color: $black;
               }
            }
         }
         a:hover{
            color: $theme-color;
         }
      }
   }
}

.page-comingsoon{
   background: url(#{$image-theme-path}bg-coming-soon.jpg) no-repeat $nocolor;
   padding: 30px 0;
}

.page-under-construction{
   background: url(#{$image-theme-path}bg-under-construction.jpg) no-repeat #F8F7F5;
   padding-top: 420px;
}

.main-page-index{
   .icon-sticky{
      display: block!important;
      visibility: visible!important;
   }
}