/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    border: 0px solid $block-module-border-color;
    position: relative;
    padding: $block-module-padding;
    .#{$block-heading-selector}{
        color: $block-module-heading-color;
        font-weight: $block-module-heading-font-weight;
        padding: $block-module-heading-padding;
        margin: $block-module-heading-margin;
        text-transform: $block-module-heading-transform;
        @include font-size(font-size, $block-module-heading-font-size);
        text-align: center;
        font-family: $font-family-second; 
        position: relative;
        padding: 0 0 20px;
        overflow: hidden;
        span{
            position: relative;
            padding-bottom: 15px;
            margin-bottom: 15px;
            letter-spacing: -2px;
            &:after{
                background: $theme-color;
                content: ""; 
                position: absolute;
                bottom: 2px; 
                left: 0;
                @include size(30px, 2px);
                z-index: 99;
            }
            &:before{
                background: #E5E5E5;
                content: ""; 
                position: absolute;
                bottom: 2px; 
                left: 0;
                @include size(1200px, 2px);
                z-index: 11;
            }
        }    
        &.widget-desc{
             display: block;
             font-size:$widget-desc-font-size;
             color: $widget-desc-text-color  
        }
    
        // Align center
        &.separator_align_center{
            text-align: center;
            span{
                &:after{
                    left: 50%;
                    margin-left: -15px;
                }
                &:before{
                    left: -1000px;
                    width: 2000px;
                }
            }
        }
        // Align right
        &.separator_align_right{
            @include rtl-text-align-right();
            &:after{
                left: auto;
                right: 0;
                margin: 0;
            }
        } 
        // Align left
        &.separator_align_left{
            @include rtl-text-align-left();
            &:after{
                left: 0;
                margin: 0;
            }
        }
        &.font-size-lg{
            font-size: $font-size-lg!important;
        }
        &.font-size-md{
            font-size: $font-size-md!important;
        }
        &.font-size-sm{
            font-size: $font-size-sm!important;
        }
        &.font-size-xs{
            font-size: $font-size-xs!important;
        }
    }
    .#{$block-content-selector} {
        @include border-radius ($block-module-content-radius);
        @include clearfix();
    }
    .#{$block-heading-reversed-selector}{
        @include rtl-margin-right(75px);
    }

    /* block styles */
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
    &.heading-full{
        .#{$block-heading-selector}{
            position: relative;
            &:before{
                content: "";
                width: 100%;
                height: 2px;
                background: #ECECEC;
                left: 0;
                bottom: 0;
                position: absolute;
                z-index: 9;
            }
            &:after{
                height: 2px;
            }
            span:after{
                bottom: 2px;
            }
        }
    }
    &.light-style{
        .#{$block-heading-selector}{
            color: $white;
            span{
                &:after{
                    background: $white;
                }
                &:before{
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}
.heading-small {
    .#{$block-heading-selector}{
        font-size: 20px;
        font-weight: 500;
        color: $black;
        text-transform: none;
        text-align: left;
        margin-bottom: 20px;
        &:after{
            margin: 0;
            left: 0;
            width: 30px;
            background: $black;
            height: 2px;
        }
    }
}

.rtl {
    .separator_align_right{
        text-align: left!important;
         &:after, h2:before, h3:before, h4:before{
            left: 0!important;
            right: auto!important;
            margin: 0!important;
        }
    }
    .separator_align_left{
        text-align: right!important;
         &:after, h2:before, h3:before, h4:before{
            left: auto!important;
            right: 0!important;
            margin: 0!important;
        }
    }
} 
 

// Contextual variations
.#{$block-prefix}-theme {
  @include block-variant($panel-default-border, $white, $theme-color, $panel-default-border);
}
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

.#{$block-prefix}-highlighted {
    margin: $block-sidebar-hightlight-margin;
    .#{$block-heading-selector}{
        margin: $block-sidebar-heading-hightlight-margin;
        color: $block-sidebar-heading-hightlight-color;
        padding: $block-sidebar-heading-hightlight-padding;
        @include rtl-padding-right(0);
        background: $block-sidebar-heading-hightlight-bg;
        font-weight: $block-sidebar-heading-hightlight-font-weight;
        font-size: $block-sidebar-heading-hightlight-font-size;
        font-family: $font-family-second;
        border: none!important;
        text-transform: uppercase;
        position: relative;
        padding: 0 15px; 
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            height: 1px;
            width: 1000px;
            background: $border-color;
        }
    } 
    .#{$block-content-selector} {
        padding: $block-sidebar-hightlight-content-padding;
        background: $block-sidebar-hightlight-content-bg;
        > div {
            background: $block-sidebar-hightlight-content-bg;
            > ul > li{
                border: none;
                > a{
                    padding: $block-sidebar-list-hightlight-padding;
                    border-top: $block-sidebar-hightlight-border;
                    color: $block-sidebar-hightlight-content-color;
                    margin: 0;
                    &:hover{
                       border-top: $block-sidebar-hightlight-border; 
                    }
                }
                &:first-child a{
                    border-top: none;
                }
            }
        }
    }      
}

/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        @include font-size(font-size, 35px);
    }
    .explain{
        @include font-size(font-size, 11px);
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;
        text-transform: $block-module-heading-transform;
        font-weight: $headings-font-weight;
        @include font-size(font-size,$block-module-heading-font-size);
    }
    .input-group{
        width: 98%
    }
}

// Sidebar
.#{$app-prefix}-sidebar {
    .#{$block-selector} {
        border: $block-sidebar-module-border;
        padding: $block-sidebar-box-padding;
        margin: $block-sidebar-box-margin;
        background: $block-sidebar-box-background;
        .#{$block-heading-selector}{
            padding: $block-sidebar-heading-padding;
            margin: $block-sidebar-heading-margin;
            font-size: $block-sidebar-heading-font-size;
            color: $block-sidebar-heading-color;
            line-height: $block-sidebar-heading-line-height;
            font-weight: $block-sidebar-heading-font-weight;
            font-family: $font-family-second;
            @include rtl-text-align-left();
            margin-bottom: 30px;
            padding-bottom: 20px;
        }
    }
}
 
/* block style in footer */
.#{$app-prefix}-footer{
    .#{$block-selector} {
        border:none;
        padding: 0;
        background: $nocolor;
        margin: $footer-column-margin;
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            font-weight: $footer-heading-fweight;
            padding: $footer-heading-padding;
            @include font-size(font-size, $footer-heading-font-size);
            text-align: left;
            border: none;
            position: relative;   
            font-family: $footer-heading-ffamily;
            &:after{
                background: $theme-color;
                content: ""; 
                position: absolute;
                bottom: 0; 
                left: 0;
                @include size(30px, 2px);
                z-index: 11;
            }
        }
        .#{$block-content-selector}{
            border:none;
            padding: 0
        }
    }
}

.wpo-topbar, .header-bottom{
    .widget{
        margin: 0;
    }
}