/* widget styles */

/*------------------------------------*\
	 Widget
\*------------------------------------*/
.widget{
	 label{  
		  font-weight: $font-weight-base;
	 }
	 // widget image
	 .widget_sp_image-image-link{
		  display: block;
		  overflow: hidden;
		  position: relative;
		  img{
				@include img-responsive();
				@include transition(all 0.35s);
				@extend .filter-grayscale;
		  }
	 }
	 // widget text
	 &.widget_text{
		  p{
				margin: 0;
		  }
		  img{
				margin: $theme-margin / 2 0;
				height: auto;
		  }
	 }
	 // widget post
	 .post-widget{
		  .image{
				@include size(100px, auto);
				margin: 0;
				@include rtl-margin-right(10px);
				img{
					 @include size(100%, auto);
				}
		  }
	 }
	 // widget archive
	 &.widget_archive{
		  @include lists-style();
		  > ul > li{
				border-bottom: 1px solid $border-color;
				padding-bottom: 8px;
				margin-bottom: 8px;
				width: 100%;
				clear: both;
				text-align: right;
				overflow: hidden;
				a{
					 text-align: left;
					 font-weight: 400;
					 color: 777777;
					 display: inline-block;
					 float: left;
					 position: relative;
					 padding-left: 25px;
					 &:after{
						  content: "\f07c";
						  font-family: "FontAwesome";
						  position: absolute;
						  top: 2px;
						  left: 0;
						  color: #777777;
					 }
					 &:hover{
						  color: $theme-color;
					 }
				}
				&:last-child{
					 border-bottom: 1px solid $border-color!important;
					 padding-bottom: 5px;
				}
		  }
	 }
	 
	 // widget categories
	 &.widget_categories{
		  ul{
				padding: 0;
				list-style: none;
				> li {
					 margin-bottom: 10px;
					 overflow: hidden;
					 border-bottom: 1px solid $border-color;
					 padding-bottom: 8px;
					 margin-bottom: 8px;
					 width: 100%;
					 a{
						  text-align: left;
						  font-weight: 400;
						  color: 777777;
						  display: inline-block;
						  float: left;
						  position: relative;
						  padding-left: 25px;
						  &:after{
								content: "\f07c";
								font-family: "FontAwesome";
								position: absolute;
								top: 2px;
								left: 0;
								color: #777777;
						  }
						  &:hover{
								color: $theme-color;
						  }
					 }
					 .count{
						  float: right;
						  padding: 0 5px;
						  background-color: #F4F4F4;
						  position: relative;
						  z-index: 9;
						  font-weight: 300;
						  font-size: 14px;
						  color: #d1d1d1;
					 }
					 ul {
					 	padding-left: 30px;
					 	li:first-child{
					 		padding-top: 10px;
					 	}
					 	li:last-child{
					 		border: none;
					 	}
					}
				}
		  }
	 }

	 // widget page
	 &.widget_pages{
		  @include lists-style();
		  ul{
				padding: 0;
				list-style: none;
				> li {
					 margin-bottom: 10px;
					 overflow: hidden;
					 border-bottom: 1px solid $border-color;
					 padding-bottom: 8px;
					 margin-bottom: 8px;
					 width: 100%;
					 a{
						  text-align: left;
						  font-weight: 400;
						  color: 777777;
						  display: inline-block;
						  float: left;
						  position: relative;
						  padding-left: 25px;
						  &:after{
								content: "\f105";
								font-family: "FontAwesome";
								position: absolute;
								top: 2px;
								left: 0;
								color: #777777;
						  }
						  &:hover{
								color: $theme-color;
						  }
					 }
					 ul {
					 	padding-left: 30px;
					 	width: 100%;
					 	float: left;
					 	li:first-child{
					 		padding-top: 10px;
					 	}
					 	li:last-child{
					 		border: none;
					 	}
					 }
				}
		  }
	 }
	 // widget meta
	 &.widget_meta{
		  @include lists-style();
	 }
	 // widget nav menu
	 &.widget_nav_menu{
		  @include lists-style();
	 }
	 &.widget_rss{
		  @include lists-style();
		  ul li{
				background: none;
				a{
					 padding: 0;
				}
		  }
	 }
	 // widget recent entries
	 &.widget_recent_entries{
		  @include lists-style();
		  ul li{
				background: none;
		  }
	 }
	 // widget recent comments
	 &.widget_rss, &.widget_recent_comments{
		  @include lists-style();
		  ul li{
				background: none;
				border-bottom: 1px solid $border-color;
				padding: 10px;
		  }
	 }
	 // widget rss
	 &.widget_rss{
		  @include lists-style();
		  ul li{
				background: none;
				a{
					 padding: 0;
				}
				&:before{
					 display: none;
				}
		  }
	 }
	 &.widget_tag_cloud{
		  .tagcloud{
				> a{
					display: inline-block;
					margin-left: 10px;
					margin-bottom: 10px;
					padding: 5px 10px;
					font-size: 13px;
					border: 1px solid rgba(0, 0, 0, 0.1);
					@include border-radius(3px);
				}
		  }
	 }
	 // widget featured video
	 &.widget_wpo_featured_video_widget{
		  .widget-video-name{
				line-height: $widget-video-name-line-height;
		  }
	 }
	 &.widget_wpo_tabs_widget{
		  .nav-tabs{
				li{
					 margin-bottom: 10px;
				}
		  }
	 }
	 &.widget_wpo_recent_comment{
		  article{
				margin-bottom: 15px;
		  }
		  .avatar-comment-widget{
				 @include rtl-margin-right(10px);
				@include rtl-float-left();
		  }
		  .content-comment-widget{
				font-size: 14px;
		  }
	 }
	 &.widget_recent_entries{
		  ul > li{
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				padding-bottom: 20px;
				margin-bottom: 20px;
				&:last-child{
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					padding-bottom: 20px;
				}
				a{
					 &:hover{
						color: $theme-color;
					 }
				}
				.post-date{
					font-weight: 400!important;
					font-size: 10px;
					text-transform: uppercase;
				}
				a{
					font-weight: 600!important;
					display: block;
					font-family: $font-family-second;
					line-height: 24px;
				}
		  }
	 }
}

.wpo-sidebar .widget_nav_menu{
	@include lists-style();
   ul{
		padding: 0;
		list-style: none;
		> li {
			 margin-bottom: 10px;
			 overflow: hidden;
			 border-bottom: 1px solid $border-color;
			 padding-bottom: 8px;
			 margin-bottom: 8px;
			 width: 100%;
			 a{
				  text-align: left;
				  font-weight: 400;
				  color: 777777;
				  display: inline-block;
				  float: left;
				  position: relative;
				  padding-left: 25px;
				  &:after{
						content: "\f105";
						font-family: "FontAwesome";
						position: absolute;
						top: 2px;
						left: 0;
						color: #777777;
				  }
				  &:hover{
						color: $theme-color;
				  }
			 }
			 ul {
			 	padding-left: 30px;
			 	width: 100%;
			 	float: left;
			 	li:first-child{
			 		padding-top: 10px;
			 	}
			 	li:last-child{
			 		border: none;
			 	}
			 }
		}
   }
}

/*------------------------------------*\
	 Widget Sidebar
\*------------------------------------*/
.#{$app-prefix}-sidebar{
	 select,table{
		width: 100%;
	 }
	 .post-widget,
	 .comment-widget{
		  .blog-title, h6{
				margin: 0;
				line-height: $widget-sidebar-entry-title-line-height;
				font-weight: $widget-sidebar-entry-title-font-weight;
				@include font-size(font-size,$widget-sidebar-entry-title-font-size);
		  }
		  p{
				@include font-size(font-size,$widget-post-meta-font-size);
		  }
		  .post-date{
				margin: 0;
				line-height: 18px;
		  }
	 }
}

.isotope-list{
	 overflow: hidden;
}

/*------------------------------------*\
	 Widget Footer
\*------------------------------------*/
.#{$app-prefix}-footer{
	 ul li{
		  border-color: rgba(255, 255, 255, 0.1)!important;
	 }
}    

.wpcf7{
	 .contact-footer{
		  input:not([type*="submit"]), textarea{
				background: #3B3248;
				color: #999999;
				border: none;
		  }
		  textarea{
				height: 160px;
		  }
	 }
}

.wpo-pagination{
	 text-align: center;
	 ul.pagination{
		  display: inline-block;
		  float: none!important;
		  > li{
				> a, > span{
					 @include size(40px, 40px);
					 @include border-radius(3px);
					 color: $black;
					 font-weight: 700;
					 font-size: 15px;
					 margin: 0 5px;
					 border: none;
					 background: #F5F5F5;
					 padding: 6px 0 0;
					 text-align: center;
					 &.prev, &.next {
						  text-indent: -9999px;
						  position: relative;
						  overflow: hidden;
						  &:after{
								position: absolute;
								top: 8px;
								right: 15px;
								font-family: FontAwesome;
								z-index: 1;
								text-indent: 99px!important;
						  }
					 }
					 &.next:after{
						  content: "\f101";
					 }
					 &.prev:after{
						  content: "\f100";
					 }
					 &:hover{
						  background: $theme-color;
						  color: $white;
					 }
					 &.current{
						  background: $theme-color;
						  color: $white;
					 }
				}
		  }    
	 }
	 .result-count{
		  display: none;
	 }
}