//Bootstrap
//-------------------------
$brand-success                      : #DC5985;
$btn-success-bg                     : $brand-success;
$btn-success-border                 : $brand-success;
$label-success-bg                   : $brand-success;
$progress-bar-success-bg            : $brand-success;
$link-hover-color                   : $brand-success;
//Themes 
//--------------------------
$theme-color                        : #DC5985;
$theme-color-rgba                   : rgba(220, 89, 133, 0.5);
$image-theme-path                   : '../../../images/';
$image-theme-skin                   : '../../../images/skins/pink/';
$woo-font-path                      : '../../../fonts/woocommerce/';
$theme-font-path                 	: '../../../fonts/';
