/*
Theme Name: Edubase | Shared By Themes24x7.com
Theme URI: http://bit.ly/opalwp
Author: the WPOpal team
Author URI: http://bit.ly/opalwp
Description: The Edubase theme for WordPress by <a href="http://bit.ly/opalwp">OpalTeam</a>is a fully responsive theme that looks great on any device. That's the best for any kind of online shoping sites. <a href="http://bit.ly/opalwp">Follow us on Themeforest to receive newest updates</a>
Version: 1.2 Updated 20-Nov-2015
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: edubase

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.wp-caption{}

.wp-caption-text{}

.sticky{}

.gallery-caption{}

.bypostauthor{}

.alignright{}

.alignleft{}

.aligncenter{}

.screen-reader-text{}

.wpo-educator-searchform .list-category{
padding-top: 0!important;
padding-bottom: 0!important;
float: left;
}
.select2-container .select2-choice{
	background: none!important;
	border: none!important;
}
