/*!
 *  Material Design Iconic Font by Sergey Kupletsky (@zavoloklom) - http://zavoloklom.github.io/material-design-iconic-font/
 *  License - http://zavoloklom.github.io/material-design-iconic-font/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'Material Design Iconic Font';
  src: url("../font/Material-Design-Iconic-Font.woff?v=2.0.0") format("woff"), url("../font/Material-Design-Iconic-Font.ttf?v=2.0.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../../sass/template/material-icon.scss */
.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material Design Iconic Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 20, ../../sass/template/material-icon.scss */
.zmd-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 25, ../../sass/template/material-icon.scss */
.zmd-2x {
  font-size: 2em;
}

/* line 28, ../../sass/template/material-icon.scss */
.zmd-3x {
  font-size: 3em;
}

/* line 31, ../../sass/template/material-icon.scss */
.zmd-4x {
  font-size: 4em;
}

/* line 34, ../../sass/template/material-icon.scss */
.zmd-5x {
  font-size: 5em;
}

/* line 37, ../../sass/template/material-icon.scss */
.zmd-fw {
  width: 1.28571429em;
  text-align: center;
}

/* line 41, ../../sass/template/material-icon.scss */
.zmd-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

/* line 46, ../../sass/template/material-icon.scss */
.zmd-ul > li {
  position: relative;
}

/* line 49, ../../sass/template/material-icon.scss */
.zmd-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

/* line 56, ../../sass/template/material-icon.scss */
.zmd-li.zmd-lg {
  left: -1.85714286em;
}

/* line 59, ../../sass/template/material-icon.scss */
.zmd-border {
  padding: .1em .25em;
  border: solid 0.1em #9e9e9e;
  border-radius: 2px;
}

/* line 64, ../../sass/template/material-icon.scss */
.zmd-border-circle {
  padding: .1em .25em;
  border: solid 0.1em #9e9e9e;
  border-radius: 50%;
}

/* line 69, ../../sass/template/material-icon.scss */
.zmdi.pull-left {
  float: left;
  margin-right: .15em;
}

/* line 73, ../../sass/template/material-icon.scss */
.zmdi.pull-right {
  float: right;
  margin-left: .15em;
}

/* line 77, ../../sass/template/material-icon.scss */
.zmd-spin {
  -webkit-animation: md-spin 1.5s infinite linear;
  animation: md-spin 1.5s infinite linear;
}

/* line 81, ../../sass/template/material-icon.scss */
.zmd-spin-reverse {
  -webkit-animation: md-spin-reverse 1.5s infinite linear;
  animation: md-spin-reverse 1.5s infinite linear;
}

@-webkit-keyframes md-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes md-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes md-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}
@keyframes md-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}
/* line 125, ../../sass/template/material-icon.scss */
.zmd-rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 130, ../../sass/template/material-icon.scss */
.zmd-rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 135, ../../sass/template/material-icon.scss */
.zmd-rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 140, ../../sass/template/material-icon.scss */
.zmd-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 145, ../../sass/template/material-icon.scss */
.zmd-flip-vertical {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 150, ../../sass/template/material-icon.scss */
.zmd-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 158, ../../sass/template/material-icon.scss */
.zmd-stack-1x,
.zmd-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 165, ../../sass/template/material-icon.scss */
.zmd-stack-1x {
  line-height: inherit;
}

/* line 168, ../../sass/template/material-icon.scss */
.zmd-stack-2x {
  font-size: 2em;
}

/* line 171, ../../sass/template/material-icon.scss */
.zmd-inverse {
  color: #ffffff;
}

/* Material Design Iconic Font uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 176, ../../sass/template/material-icon.scss */
.zmdi-3d-rotation:before {
  content: '\f101';
}

/* line 179, ../../sass/template/material-icon.scss */
.zmdi-album:before {
  content: '\f102';
}

/* line 182, ../../sass/template/material-icon.scss */
.zmdi-archive:before {
  content: '\f103';
}

/* line 185, ../../sass/template/material-icon.scss */
.zmdi-assignment-account:before {
  content: '\f104';
}

/* line 188, ../../sass/template/material-icon.scss */
.zmdi-assignment-alert:before {
  content: '\f105';
}

/* line 191, ../../sass/template/material-icon.scss */
.zmdi-assignment-check:before {
  content: '\f106';
}

/* line 194, ../../sass/template/material-icon.scss */
.zmdi-assignment-o:before {
  content: '\f107';
}

/* line 197, ../../sass/template/material-icon.scss */
.zmdi-assignment-return:before {
  content: '\f108';
}

/* line 200, ../../sass/template/material-icon.scss */
.zmdi-assignment-returned:before {
  content: '\f109';
}

/* line 203, ../../sass/template/material-icon.scss */
.zmdi-assignment:before {
  content: '\f10a';
}

/* line 206, ../../sass/template/material-icon.scss */
.zmdi-attachment-alt:before {
  content: '\f10b';
}

/* line 209, ../../sass/template/material-icon.scss */
.zmdi-attachment:before {
  content: '\f10c';
}

/* line 212, ../../sass/template/material-icon.scss */
.zmdi-audio:before {
  content: '\f10d';
}

/* line 215, ../../sass/template/material-icon.scss */
.zmdi-badge-check:before {
  content: '\f10e';
}

/* line 218, ../../sass/template/material-icon.scss */
.zmdi-balance-wallet:before {
  content: '\f10f';
}

/* line 221, ../../sass/template/material-icon.scss */
.zmdi-balance:before {
  content: '\f110';
}

/* line 224, ../../sass/template/material-icon.scss */
.zmdi-battery-alert:before {
  content: '\f111';
}

/* line 227, ../../sass/template/material-icon.scss */
.zmdi-battery-charging:before {
  content: '\f112';
}

/* line 230, ../../sass/template/material-icon.scss */
.zmdi-battery-unknown:before {
  content: '\f113';
}

/* line 233, ../../sass/template/material-icon.scss */
.zmdi-battery:before {
  content: '\f114';
}

/* line 236, ../../sass/template/material-icon.scss */
.zmdi-block-alt:before {
  content: '\f115';
}

/* line 239, ../../sass/template/material-icon.scss */
.zmdi-block:before {
  content: '\f116';
}

/* line 242, ../../sass/template/material-icon.scss */
.zmdi-book-photo:before {
  content: '\f117';
}

/* line 245, ../../sass/template/material-icon.scss */
.zmdi-book:before {
  content: '\f118';
}

/* line 248, ../../sass/template/material-icon.scss */
.zmdi-bookmark-outline:before {
  content: '\f119';
}

/* line 251, ../../sass/template/material-icon.scss */
.zmdi-bookmark:before {
  content: '\f11a';
}

/* line 254, ../../sass/template/material-icon.scss */
.zmdi-bug:before {
  content: '\f11b';
}

/* line 257, ../../sass/template/material-icon.scss */
.zmdi-cake:before {
  content: '\f11c';
}

/* line 260, ../../sass/template/material-icon.scss */
.zmdi-card-giftcard:before {
  content: '\f11d';
}

/* line 263, ../../sass/template/material-icon.scss */
.zmdi-card-membership:before {
  content: '\f11e';
}

/* line 266, ../../sass/template/material-icon.scss */
.zmdi-card-travel:before {
  content: '\f11f';
}

/* line 269, ../../sass/template/material-icon.scss */
.zmdi-card:before {
  content: '\f120';
}

/* line 272, ../../sass/template/material-icon.scss */
.zmdi-case-play:before {
  content: '\f121';
}

/* line 275, ../../sass/template/material-icon.scss */
.zmdi-case:before {
  content: '\f122';
}

/* line 278, ../../sass/template/material-icon.scss */
.zmdi-chart-donut:before {
  content: '\f123';
}

/* line 281, ../../sass/template/material-icon.scss */
.zmdi-chart:before {
  content: '\f124';
}

/* line 284, ../../sass/template/material-icon.scss */
.zmdi-city-alt:before {
  content: '\f125';
}

/* line 287, ../../sass/template/material-icon.scss */
.zmdi-city:before {
  content: '\f126';
}

/* line 290, ../../sass/template/material-icon.scss */
.zmdi-close-circle-o:before {
  content: '\f127';
}

/* line 293, ../../sass/template/material-icon.scss */
.zmdi-close-circle:before {
  content: '\f128';
}

/* line 296, ../../sass/template/material-icon.scss */
.zmdi-close:before {
  content: '\f129';
}

/* line 299, ../../sass/template/material-icon.scss */
.zmdi-code-setting:before {
  content: '\f12a';
}

/* line 302, ../../sass/template/material-icon.scss */
.zmdi-code-smartphone:before {
  content: '\f12b';
}

/* line 305, ../../sass/template/material-icon.scss */
.zmdi-code:before {
  content: '\f12c';
}

/* line 308, ../../sass/template/material-icon.scss */
.zmdi-collection-add:before {
  content: '\f12d';
}

/* line 311, ../../sass/template/material-icon.scss */
.zmdi-collection-bookmark:before {
  content: '\f12e';
}

/* line 314, ../../sass/template/material-icon.scss */
.zmdi-collection-case-play:before {
  content: '\f12f';
}

/* line 317, ../../sass/template/material-icon.scss */
.zmdi-collection-folder-image:before {
  content: '\f130';
}

/* line 320, ../../sass/template/material-icon.scss */
.zmdi-collection-image-o:before {
  content: '\f131';
}

/* line 323, ../../sass/template/material-icon.scss */
.zmdi-collection-image:before {
  content: '\f132';
}

/* line 326, ../../sass/template/material-icon.scss */
.zmdi-collection-item-1:before {
  content: '\f133';
}

/* line 329, ../../sass/template/material-icon.scss */
.zmdi-collection-item-2:before {
  content: '\f134';
}

/* line 332, ../../sass/template/material-icon.scss */
.zmdi-collection-item-3:before {
  content: '\f135';
}

/* line 335, ../../sass/template/material-icon.scss */
.zmdi-collection-item-4:before {
  content: '\f136';
}

/* line 338, ../../sass/template/material-icon.scss */
.zmdi-collection-item-5:before {
  content: '\f137';
}

/* line 341, ../../sass/template/material-icon.scss */
.zmdi-collection-item-6:before {
  content: '\f138';
}

/* line 344, ../../sass/template/material-icon.scss */
.zmdi-collection-item-7:before {
  content: '\f139';
}

/* line 347, ../../sass/template/material-icon.scss */
.zmdi-collection-item-8:before {
  content: '\f13a';
}

/* line 350, ../../sass/template/material-icon.scss */
.zmdi-collection-item-9-plus:before {
  content: '\f13b';
}

/* line 353, ../../sass/template/material-icon.scss */
.zmdi-collection-item-9:before {
  content: '\f13c';
}

/* line 356, ../../sass/template/material-icon.scss */
.zmdi-collection-item:before {
  content: '\f13d';
}

/* line 359, ../../sass/template/material-icon.scss */
.zmdi-collection-music:before {
  content: '\f13e';
}

/* line 362, ../../sass/template/material-icon.scss */
.zmdi-collection-pdf:before {
  content: '\f13f';
}

/* line 365, ../../sass/template/material-icon.scss */
.zmdi-collection-speaker:before {
  content: '\f140';
}

/* line 368, ../../sass/template/material-icon.scss */
.zmdi-collection-text:before {
  content: '\f141';
}

/* line 371, ../../sass/template/material-icon.scss */
.zmdi-collection-video:before {
  content: '\f142';
}

/* line 374, ../../sass/template/material-icon.scss */
.zmdi-compass:before {
  content: '\f143';
}

/* line 377, ../../sass/template/material-icon.scss */
.zmdi-delete:before {
  content: '\f144';
}

/* line 380, ../../sass/template/material-icon.scss */
.zmdi-dns:before {
  content: '\f145';
}

/* line 383, ../../sass/template/material-icon.scss */
.zmdi-edit:before {
  content: '\f146';
}

/* line 386, ../../sass/template/material-icon.scss */
.zmdi-email-open:before {
  content: '\f147';
}

/* line 389, ../../sass/template/material-icon.scss */
.zmdi-email:before {
  content: '\f148';
}

/* line 392, ../../sass/template/material-icon.scss */
.zmdi-eye-off:before {
  content: '\f149';
}

/* line 395, ../../sass/template/material-icon.scss */
.zmdi-eye:before {
  content: '\f14a';
}

/* line 398, ../../sass/template/material-icon.scss */
.zmdi-favorite-outline:before {
  content: '\f14b';
}

/* line 401, ../../sass/template/material-icon.scss */
.zmdi-favorite:before {
  content: '\f14c';
}

/* line 404, ../../sass/template/material-icon.scss */
.zmdi-fire:before {
  content: '\f14d';
}

/* line 407, ../../sass/template/material-icon.scss */
.zmdi-flag:before {
  content: '\f14e';
}

/* line 410, ../../sass/template/material-icon.scss */
.zmdi-flare:before {
  content: '\f14f';
}

/* line 413, ../../sass/template/material-icon.scss */
.zmdi-flash-auto:before {
  content: '\f150';
}

/* line 416, ../../sass/template/material-icon.scss */
.zmdi-flash-off:before {
  content: '\f151';
}

/* line 419, ../../sass/template/material-icon.scss */
.zmdi-flash:before {
  content: '\f152';
}

/* line 422, ../../sass/template/material-icon.scss */
.zmdi-flip:before {
  content: '\f153';
}

/* line 425, ../../sass/template/material-icon.scss */
.zmdi-flower:before {
  content: '\f154';
}

/* line 428, ../../sass/template/material-icon.scss */
.zmdi-font:before {
  content: '\f155';
}

/* line 431, ../../sass/template/material-icon.scss */
.zmdi-fullscreen-alt:before {
  content: '\f156';
}

/* line 434, ../../sass/template/material-icon.scss */
.zmdi-fullscreen-exit:before {
  content: '\f157';
}

/* line 437, ../../sass/template/material-icon.scss */
.zmdi-fullscreen:before {
  content: '\f158';
}

/* line 440, ../../sass/template/material-icon.scss */
.zmdi-gesture:before {
  content: '\f159';
}

/* line 443, ../../sass/template/material-icon.scss */
.zmdi-globe-alt:before {
  content: '\f15a';
}

/* line 446, ../../sass/template/material-icon.scss */
.zmdi-globe-lock:before {
  content: '\f15b';
}

/* line 449, ../../sass/template/material-icon.scss */
.zmdi-globe:before {
  content: '\f15c';
}

/* line 452, ../../sass/template/material-icon.scss */
.zmdi-graduation-cap:before {
  content: '\f15d';
}

/* line 455, ../../sass/template/material-icon.scss */
.zmdi-home:before {
  content: '\f15e';
}

/* line 458, ../../sass/template/material-icon.scss */
.zmdi-hourglass-outline:before {
  content: '\f15f';
}

/* line 461, ../../sass/template/material-icon.scss */
.zmdi-hourglass:before {
  content: '\f160';
}

/* line 464, ../../sass/template/material-icon.scss */
.zmdi-http:before {
  content: '\f161';
}

/* line 467, ../../sass/template/material-icon.scss */
.zmdi-image-alt:before {
  content: '\f162';
}

/* line 470, ../../sass/template/material-icon.scss */
.zmdi-image:before {
  content: '\f163';
}

/* line 473, ../../sass/template/material-icon.scss */
.zmdi-inbox:before {
  content: '\f164';
}

/* line 476, ../../sass/template/material-icon.scss */
.zmdi-incandescent:before {
  content: '\f165';
}

/* line 479, ../../sass/template/material-icon.scss */
.zmdi-invert-colors-off:before {
  content: '\f166';
}

/* line 482, ../../sass/template/material-icon.scss */
.zmdi-invert-colors:before {
  content: '\f167';
}

/* line 485, ../../sass/template/material-icon.scss */
.zmdi-key:before {
  content: '\f168';
}

/* line 488, ../../sass/template/material-icon.scss */
.zmdi-label-heart:before {
  content: '\f169';
}

/* line 491, ../../sass/template/material-icon.scss */
.zmdi-label-outline:before {
  content: '\f16a';
}

/* line 494, ../../sass/template/material-icon.scss */
.zmdi-label:before {
  content: '\f16b';
}

/* line 497, ../../sass/template/material-icon.scss */
.zmdi-labels:before {
  content: '\f16c';
}

/* line 500, ../../sass/template/material-icon.scss */
.zmdi-landscape:before {
  content: '\f16d';
}

/* line 503, ../../sass/template/material-icon.scss */
.zmdi-link:before {
  content: '\f16e';
}

/* line 506, ../../sass/template/material-icon.scss */
.zmdi-lock-open:before {
  content: '\f16f';
}

/* line 509, ../../sass/template/material-icon.scss */
.zmdi-lock-outline:before {
  content: '\f170';
}

/* line 512, ../../sass/template/material-icon.scss */
.zmdi-lock:before {
  content: '\f171';
}

/* line 515, ../../sass/template/material-icon.scss */
.zmdi-mail-reply-all:before {
  content: '\f172';
}

/* line 518, ../../sass/template/material-icon.scss */
.zmdi-mail-reply:before {
  content: '\f173';
}

/* line 521, ../../sass/template/material-icon.scss */
.zmdi-mail-send:before {
  content: '\f174';
}

/* line 524, ../../sass/template/material-icon.scss */
.zmdi-menu:before {
  content: '\f175';
}

/* line 527, ../../sass/template/material-icon.scss */
.zmdi-money-off:before {
  content: '\f176';
}

/* line 530, ../../sass/template/material-icon.scss */
.zmdi-money:before {
  content: '\f177';
}

/* line 533, ../../sass/template/material-icon.scss */
.zmdi-more-horiz:before {
  content: '\f178';
}

/* line 536, ../../sass/template/material-icon.scss */
.zmdi-more-vert:before {
  content: '\f179';
}

/* line 539, ../../sass/template/material-icon.scss */
.zmdi-open-in-browser:before {
  content: '\f17a';
}

/* line 542, ../../sass/template/material-icon.scss */
.zmdi-open-in-new:before {
  content: '\f17b';
}

/* line 545, ../../sass/template/material-icon.scss */
.zmdi-palette:before {
  content: '\f17c';
}

/* line 548, ../../sass/template/material-icon.scss */
.zmdi-plaster:before {
  content: '\f17d';
}

/* line 551, ../../sass/template/material-icon.scss */
.zmdi-power-off-setting:before {
  content: '\f17e';
}

/* line 554, ../../sass/template/material-icon.scss */
.zmdi-power-off:before {
  content: '\f17f';
}

/* line 557, ../../sass/template/material-icon.scss */
.zmdi-puzzle-piece:before {
  content: '\f180';
}

/* line 560, ../../sass/template/material-icon.scss */
.zmdi-receipt:before {
  content: '\f181';
}

/* line 563, ../../sass/template/material-icon.scss */
.zmdi-refresh-alt:before {
  content: '\f182';
}

/* line 566, ../../sass/template/material-icon.scss */
.zmdi-refresh-sync-disabled:before {
  content: '\f183';
}

/* line 569, ../../sass/template/material-icon.scss */
.zmdi-refresh-sync-problem:before {
  content: '\f184';
}

/* line 572, ../../sass/template/material-icon.scss */
.zmdi-refresh-sync:before {
  content: '\f185';
}

/* line 575, ../../sass/template/material-icon.scss */
.zmdi-refresh:before {
  content: '\f186';
}

/* line 578, ../../sass/template/material-icon.scss */
.zmdi-ruler:before {
  content: '\f187';
}

/* line 581, ../../sass/template/material-icon.scss */
.zmdi-screen-rotation-lock:before {
  content: '\f188';
}

/* line 584, ../../sass/template/material-icon.scss */
.zmdi-screen-rotation:before {
  content: '\f189';
}

/* line 587, ../../sass/template/material-icon.scss */
.zmdi-search-for:before {
  content: '\f18a';
}

/* line 590, ../../sass/template/material-icon.scss */
.zmdi-search-in-file:before {
  content: '\f18b';
}

/* line 593, ../../sass/template/material-icon.scss */
.zmdi-search-in-page:before {
  content: '\f18c';
}

/* line 596, ../../sass/template/material-icon.scss */
.zmdi-search-replace:before {
  content: '\f18d';
}

/* line 599, ../../sass/template/material-icon.scss */
.zmdi-search:before {
  content: '\f18e';
}

/* line 602, ../../sass/template/material-icon.scss */
.zmdi-seat:before {
  content: '\f18f';
}

/* line 605, ../../sass/template/material-icon.scss */
.zmdi-settings-square:before {
  content: '\f190';
}

/* line 608, ../../sass/template/material-icon.scss */
.zmdi-settings:before {
  content: '\f191';
}

/* line 611, ../../sass/template/material-icon.scss */
.zmdi-shield-check:before {
  content: '\f192';
}

/* line 614, ../../sass/template/material-icon.scss */
.zmdi-shield-security:before {
  content: '\f193';
}

/* line 617, ../../sass/template/material-icon.scss */
.zmdi-shopping-basket:before {
  content: '\f194';
}

/* line 620, ../../sass/template/material-icon.scss */
.zmdi-shopping-cart-add:before {
  content: '\f195';
}

/* line 623, ../../sass/template/material-icon.scss */
.zmdi-shopping-cart:before {
  content: '\f196';
}

/* line 626, ../../sass/template/material-icon.scss */
.zmdi-sign-in:before {
  content: '\f197';
}

/* line 629, ../../sass/template/material-icon.scss */
.zmdi-sort-by-alpha:before {
  content: '\f198';
}

/* line 632, ../../sass/template/material-icon.scss */
.zmdi-spellcheck:before {
  content: '\f199';
}

/* line 635, ../../sass/template/material-icon.scss */
.zmdi-storage:before {
  content: '\f19a';
}

/* line 638, ../../sass/template/material-icon.scss */
.zmdi-sun:before {
  content: '\f19b';
}

/* line 641, ../../sass/template/material-icon.scss */
.zmdi-tab-unselected:before {
  content: '\f19c';
}

/* line 644, ../../sass/template/material-icon.scss */
.zmdi-tab:before {
  content: '\f19d';
}

/* line 647, ../../sass/template/material-icon.scss */
.zmdi-tag-backspace:before {
  content: '\f19e';
}

/* line 650, ../../sass/template/material-icon.scss */
.zmdi-tag-more:before {
  content: '\f19f';
}

/* line 653, ../../sass/template/material-icon.scss */
.zmdi-thumb-down:before {
  content: '\f1a0';
}

/* line 656, ../../sass/template/material-icon.scss */
.zmdi-thumb-up-down:before {
  content: '\f1a1';
}

/* line 659, ../../sass/template/material-icon.scss */
.zmdi-thumb-up:before {
  content: '\f1a2';
}

/* line 662, ../../sass/template/material-icon.scss */
.zmdi-toll:before {
  content: '\f1a3';
}

/* line 665, ../../sass/template/material-icon.scss */
.zmdi-toys:before {
  content: '\f1a4';
}

/* line 668, ../../sass/template/material-icon.scss */
.zmdi-translate:before {
  content: '\f1a5';
}

/* line 671, ../../sass/template/material-icon.scss */
.zmdi-triangle-down:before {
  content: '\f1a6';
}

/* line 674, ../../sass/template/material-icon.scss */
.zmdi-triangle-up:before {
  content: '\f1a7';
}

/* line 677, ../../sass/template/material-icon.scss */
.zmdi-wallpaper:before {
  content: '\f1a8';
}

/* line 680, ../../sass/template/material-icon.scss */
.zmdi-wrench:before {
  content: '\f1a9';
}

/* line 683, ../../sass/template/material-icon.scss */
.zmdi-zoom-in:before {
  content: '\f1aa';
}

/* line 686, ../../sass/template/material-icon.scss */
.zmdi-zoom-out:before {
  content: '\f1ab';
}

/* line 689, ../../sass/template/material-icon.scss */
.zmdi-alert-circle-o:before {
  content: '\f1ac';
}

/* line 692, ../../sass/template/material-icon.scss */
.zmdi-alert-circle:before {
  content: '\f1ad';
}

/* line 695, ../../sass/template/material-icon.scss */
.zmdi-alert-octagon:before {
  content: '\f1ae';
}

/* line 698, ../../sass/template/material-icon.scss */
.zmdi-alert-polygon:before {
  content: '\f1af';
}

/* line 701, ../../sass/template/material-icon.scss */
.zmdi-alert-triangle:before {
  content: '\f1b0';
}

/* line 704, ../../sass/template/material-icon.scss */
.zmdi-help-outline:before {
  content: '\f1b1';
}

/* line 707, ../../sass/template/material-icon.scss */
.zmdi-help:before {
  content: '\f1b2';
}

/* line 710, ../../sass/template/material-icon.scss */
.zmdi-info-outline:before {
  content: '\f1b3';
}

/* line 713, ../../sass/template/material-icon.scss */
.zmdi-info:before {
  content: '\f1b4';
}

/* line 716, ../../sass/template/material-icon.scss */
.zmdi-account-add:before {
  content: '\f1b5';
}

/* line 719, ../../sass/template/material-icon.scss */
.zmdi-account-box-mail:before {
  content: '\f1b6';
}

/* line 722, ../../sass/template/material-icon.scss */
.zmdi-account-box-o:before {
  content: '\f1b7';
}

/* line 725, ../../sass/template/material-icon.scss */
.zmdi-account-box-phone:before {
  content: '\f1b8';
}

/* line 728, ../../sass/template/material-icon.scss */
.zmdi-account-box:before {
  content: '\f1b9';
}

/* line 731, ../../sass/template/material-icon.scss */
.zmdi-account-calendar:before {
  content: '\f1ba';
}

/* line 734, ../../sass/template/material-icon.scss */
.zmdi-account-circle:before {
  content: '\f1bb';
}

/* line 737, ../../sass/template/material-icon.scss */
.zmdi-account-o:before {
  content: '\f1bc';
}

/* line 740, ../../sass/template/material-icon.scss */
.zmdi-account:before {
  content: '\f1bd';
}

/* line 743, ../../sass/template/material-icon.scss */
.zmdi-accounts-add:before {
  content: '\f1be';
}

/* line 746, ../../sass/template/material-icon.scss */
.zmdi-accounts-alt:before {
  content: '\f1bf';
}

/* line 749, ../../sass/template/material-icon.scss */
.zmdi-accounts-list-alt:before {
  content: '\f1c0';
}

/* line 752, ../../sass/template/material-icon.scss */
.zmdi-accounts-list:before {
  content: '\f1c1';
}

/* line 755, ../../sass/template/material-icon.scss */
.zmdi-accounts-outline:before {
  content: '\f1c2';
}

/* line 758, ../../sass/template/material-icon.scss */
.zmdi-accounts:before {
  content: '\f1c3';
}

/* line 761, ../../sass/template/material-icon.scss */
.zmdi-face:before {
  content: '\f1c4';
}

/* line 764, ../../sass/template/material-icon.scss */
.zmdi-male:before {
  content: '\f1c5';
}

/* line 767, ../../sass/template/material-icon.scss */
.zmdi-mood-bad:before {
  content: '\f1c6';
}

/* line 770, ../../sass/template/material-icon.scss */
.zmdi-mood:before {
  content: '\f1c7';
}

/* line 773, ../../sass/template/material-icon.scss */
.zmdi-cloud-circle:before {
  content: '\f1c8';
}

/* line 776, ../../sass/template/material-icon.scss */
.zmdi-cloud-done:before {
  content: '\f1c9';
}

/* line 779, ../../sass/template/material-icon.scss */
.zmdi-cloud-download:before {
  content: '\f1ca';
}

/* line 782, ../../sass/template/material-icon.scss */
.zmdi-cloud-off:before {
  content: '\f1cb';
}

/* line 785, ../../sass/template/material-icon.scss */
.zmdi-cloud-outline-alt:before {
  content: '\f1cc';
}

/* line 788, ../../sass/template/material-icon.scss */
.zmdi-cloud-outline:before {
  content: '\f1cd';
}

/* line 791, ../../sass/template/material-icon.scss */
.zmdi-cloud-upload:before {
  content: '\f1ce';
}

/* line 794, ../../sass/template/material-icon.scss */
.zmdi-cloud:before {
  content: '\f1cf';
}

/* line 797, ../../sass/template/material-icon.scss */
.zmdi-download:before {
  content: '\f1d0';
}

/* line 800, ../../sass/template/material-icon.scss */
.zmdi-file-add:before {
  content: '\f1d1';
}

/* line 803, ../../sass/template/material-icon.scss */
.zmdi-file-text:before {
  content: '\f1d2';
}

/* line 806, ../../sass/template/material-icon.scss */
.zmdi-file:before {
  content: '\f1d3';
}

/* line 809, ../../sass/template/material-icon.scss */
.zmdi-folder-outline:before {
  content: '\f1d4';
}

/* line 812, ../../sass/template/material-icon.scss */
.zmdi-folder-shared:before {
  content: '\f1d5';
}

/* line 815, ../../sass/template/material-icon.scss */
.zmdi-folder-special:before {
  content: '\f1d6';
}

/* line 818, ../../sass/template/material-icon.scss */
.zmdi-folder:before {
  content: '\f1d7';
}

/* line 821, ../../sass/template/material-icon.scss */
.zmdi-gif:before {
  content: '\f1d8';
}

/* line 824, ../../sass/template/material-icon.scss */
.zmdi-upload:before {
  content: '\f1d9';
}

/* line 827, ../../sass/template/material-icon.scss */
.zmdi-border-all:before {
  content: '\f1da';
}

/* line 830, ../../sass/template/material-icon.scss */
.zmdi-border-bottom:before {
  content: '\f1db';
}

/* line 833, ../../sass/template/material-icon.scss */
.zmdi-border-clear:before {
  content: '\f1dc';
}

/* line 836, ../../sass/template/material-icon.scss */
.zmdi-border-color:before {
  content: '\f1dd';
}

/* line 839, ../../sass/template/material-icon.scss */
.zmdi-border-horizontal:before {
  content: '\f1de';
}

/* line 842, ../../sass/template/material-icon.scss */
.zmdi-border-inner:before {
  content: '\f1df';
}

/* line 845, ../../sass/template/material-icon.scss */
.zmdi-border-left:before {
  content: '\f1e0';
}

/* line 848, ../../sass/template/material-icon.scss */
.zmdi-border-outer:before {
  content: '\f1e1';
}

/* line 851, ../../sass/template/material-icon.scss */
.zmdi-border-right:before {
  content: '\f1e2';
}

/* line 854, ../../sass/template/material-icon.scss */
.zmdi-border-style:before {
  content: '\f1e3';
}

/* line 857, ../../sass/template/material-icon.scss */
.zmdi-border-top:before {
  content: '\f1e4';
}

/* line 860, ../../sass/template/material-icon.scss */
.zmdi-border-vertical:before {
  content: '\f1e5';
}

/* line 863, ../../sass/template/material-icon.scss */
.zmdi-brush:before {
  content: '\f1e6';
}

/* line 866, ../../sass/template/material-icon.scss */
.zmdi-colorize:before {
  content: '\f1e7';
}

/* line 869, ../../sass/template/material-icon.scss */
.zmdi-copy:before {
  content: '\f1e8';
}

/* line 872, ../../sass/template/material-icon.scss */
.zmdi-crop:before {
  content: '\f1e9';
}

/* line 875, ../../sass/template/material-icon.scss */
.zmdi-cut:before {
  content: '\f1ea';
}

/* line 878, ../../sass/template/material-icon.scss */
.zmdi-format-align-center:before {
  content: '\f1eb';
}

/* line 881, ../../sass/template/material-icon.scss */
.zmdi-format-align-justify:before {
  content: '\f1ec';
}

/* line 884, ../../sass/template/material-icon.scss */
.zmdi-format-align-left:before {
  content: '\f1ed';
}

/* line 887, ../../sass/template/material-icon.scss */
.zmdi-format-align-right:before {
  content: '\f1ee';
}

/* line 890, ../../sass/template/material-icon.scss */
.zmdi-format-bold:before {
  content: '\f1ef';
}

/* line 893, ../../sass/template/material-icon.scss */
.zmdi-format-clear-all:before {
  content: '\f1f0';
}

/* line 896, ../../sass/template/material-icon.scss */
.zmdi-format-clear:before {
  content: '\f1f1';
}

/* line 899, ../../sass/template/material-icon.scss */
.zmdi-format-color-fill:before {
  content: '\f1f2';
}

/* line 902, ../../sass/template/material-icon.scss */
.zmdi-format-color-reset:before {
  content: '\f1f3';
}

/* line 905, ../../sass/template/material-icon.scss */
.zmdi-format-color-text:before {
  content: '\f1f4';
}

/* line 908, ../../sass/template/material-icon.scss */
.zmdi-format-indent-decrease:before {
  content: '\f1f5';
}

/* line 911, ../../sass/template/material-icon.scss */
.zmdi-format-indent-increase:before {
  content: '\f1f6';
}

/* line 914, ../../sass/template/material-icon.scss */
.zmdi-format-italic:before {
  content: '\f1f7';
}

/* line 917, ../../sass/template/material-icon.scss */
.zmdi-format-line-spacing:before {
  content: '\f1f8';
}

/* line 920, ../../sass/template/material-icon.scss */
.zmdi-format-list-bulleted:before {
  content: '\f1f9';
}

/* line 923, ../../sass/template/material-icon.scss */
.zmdi-format-list-numbered:before {
  content: '\f1fa';
}

/* line 926, ../../sass/template/material-icon.scss */
.zmdi-format-paint:before {
  content: '\f1fb';
}

/* line 929, ../../sass/template/material-icon.scss */
.zmdi-format-playlist-add:before {
  content: '\f1fc';
}

/* line 932, ../../sass/template/material-icon.scss */
.zmdi-format-queue-music:before {
  content: '\f1fd';
}

/* line 935, ../../sass/template/material-icon.scss */
.zmdi-format-quote:before {
  content: '\f1fe';
}

/* line 938, ../../sass/template/material-icon.scss */
.zmdi-format-size:before {
  content: '\f1ff';
}

/* line 941, ../../sass/template/material-icon.scss */
.zmdi-format-strikethrough-s:before {
  content: '\f200';
}

/* line 944, ../../sass/template/material-icon.scss */
.zmdi-format-strikethrough:before {
  content: '\f201';
}

/* line 947, ../../sass/template/material-icon.scss */
.zmdi-format-subject:before {
  content: '\f202';
}

/* line 950, ../../sass/template/material-icon.scss */
.zmdi-format-textdirection-l-to-r:before {
  content: '\f203';
}

/* line 953, ../../sass/template/material-icon.scss */
.zmdi-format-textdirection-r-to-l:before {
  content: '\f204';
}

/* line 956, ../../sass/template/material-icon.scss */
.zmdi-format-underlined:before {
  content: '\f205';
}

/* line 959, ../../sass/template/material-icon.scss */
.zmdi-format-valign-bottom:before {
  content: '\f206';
}

/* line 962, ../../sass/template/material-icon.scss */
.zmdi-format-valign-center:before {
  content: '\f207';
}

/* line 965, ../../sass/template/material-icon.scss */
.zmdi-format-valign-top:before {
  content: '\f208';
}

/* line 968, ../../sass/template/material-icon.scss */
.zmdi-functions:before {
  content: '\f209';
}

/* line 971, ../../sass/template/material-icon.scss */
.zmdi-print:before {
  content: '\f20a';
}

/* line 974, ../../sass/template/material-icon.scss */
.zmdi-redo:before {
  content: '\f20b';
}

/* line 977, ../../sass/template/material-icon.scss */
.zmdi-save:before {
  content: '\f20c';
}

/* line 980, ../../sass/template/material-icon.scss */
.zmdi-select-all:before {
  content: '\f20d';
}

/* line 983, ../../sass/template/material-icon.scss */
.zmdi-space-bar:before {
  content: '\f20e';
}

/* line 986, ../../sass/template/material-icon.scss */
.zmdi-text-format:before {
  content: '\f20f';
}

/* line 989, ../../sass/template/material-icon.scss */
.zmdi-undo:before {
  content: '\f210';
}

/* line 992, ../../sass/template/material-icon.scss */
.zmdi-wrap-text:before {
  content: '\f211';
}

/* line 995, ../../sass/template/material-icon.scss */
.zmdi-comment-alert:before {
  content: '\f212';
}

/* line 998, ../../sass/template/material-icon.scss */
.zmdi-comment-alt-text:before {
  content: '\f213';
}

/* line 1001, ../../sass/template/material-icon.scss */
.zmdi-comment-alt:before {
  content: '\f214';
}

/* line 1004, ../../sass/template/material-icon.scss */
.zmdi-comment-dots:before {
  content: '\f215';
}

/* line 1007, ../../sass/template/material-icon.scss */
.zmdi-comment-image:before {
  content: '\f216';
}

/* line 1010, ../../sass/template/material-icon.scss */
.zmdi-comment-list:before {
  content: '\f217';
}

/* line 1013, ../../sass/template/material-icon.scss */
.zmdi-comment-outline:before {
  content: '\f218';
}

/* line 1016, ../../sass/template/material-icon.scss */
.zmdi-comment-sign:before {
  content: '\f219';
}

/* line 1019, ../../sass/template/material-icon.scss */
.zmdi-comment-text-alt:before {
  content: '\f21a';
}

/* line 1022, ../../sass/template/material-icon.scss */
.zmdi-comment-text:before {
  content: '\f21b';
}

/* line 1025, ../../sass/template/material-icon.scss */
.zmdi-comment-video:before {
  content: '\f21c';
}

/* line 1028, ../../sass/template/material-icon.scss */
.zmdi-comment:before {
  content: '\f21d';
}

/* line 1031, ../../sass/template/material-icon.scss */
.zmdi-comments:before {
  content: '\f21e';
}

/* line 1034, ../../sass/template/material-icon.scss */
.zmdi-rate-review:before {
  content: '\f21f';
}

/* line 1037, ../../sass/template/material-icon.scss */
.zmdi-check-all:before {
  content: '\f220';
}

/* line 1040, ../../sass/template/material-icon.scss */
.zmdi-check-circle-u:before {
  content: '\f221';
}

/* line 1043, ../../sass/template/material-icon.scss */
.zmdi-check-circle:before {
  content: '\f222';
}

/* line 1046, ../../sass/template/material-icon.scss */
.zmdi-check-square:before {
  content: '\f223';
}

/* line 1049, ../../sass/template/material-icon.scss */
.zmdi-check:before {
  content: '\f224';
}

/* line 1052, ../../sass/template/material-icon.scss */
.zmdi-circle-o:before {
  content: '\f225';
}

/* line 1055, ../../sass/template/material-icon.scss */
.zmdi-circle:before {
  content: '\f226';
}

/* line 1058, ../../sass/template/material-icon.scss */
.zmdi-dot-circle-alt:before {
  content: '\f227';
}

/* line 1061, ../../sass/template/material-icon.scss */
.zmdi-dot-circle:before {
  content: '\f228';
}

/* line 1064, ../../sass/template/material-icon.scss */
.zmdi-minus-circle-outline:before {
  content: '\f229';
}

/* line 1067, ../../sass/template/material-icon.scss */
.zmdi-minus-circle:before {
  content: '\f22a';
}

/* line 1070, ../../sass/template/material-icon.scss */
.zmdi-minus-square:before {
  content: '\f22b';
}

/* line 1073, ../../sass/template/material-icon.scss */
.zmdi-minus:before {
  content: '\f22c';
}

/* line 1076, ../../sass/template/material-icon.scss */
.zmdi-plus-box:before {
  content: '\f22d';
}

/* line 1079, ../../sass/template/material-icon.scss */
.zmdi-plus-circle-o-duplicate:before {
  content: '\f22e';
}

/* line 1082, ../../sass/template/material-icon.scss */
.zmdi-plus-circle-o:before {
  content: '\f22f';
}

/* line 1085, ../../sass/template/material-icon.scss */
.zmdi-plus-circle:before {
  content: '\f230';
}

/* line 1088, ../../sass/template/material-icon.scss */
.zmdi-plus:before {
  content: '\f231';
}

/* line 1091, ../../sass/template/material-icon.scss */
.zmdi-square-o:before {
  content: '\f232';
}

/* line 1094, ../../sass/template/material-icon.scss */
.zmdi-star-border:before {
  content: '\f233';
}

/* line 1097, ../../sass/template/material-icon.scss */
.zmdi-star-circle:before {
  content: '\f234';
}

/* line 1100, ../../sass/template/material-icon.scss */
.zmdi-star-half:before {
  content: '\f235';
}

/* line 1103, ../../sass/template/material-icon.scss */
.zmdi-star:before {
  content: '\f236';
}

/* line 1106, ../../sass/template/material-icon.scss */
.zmdi-camera-add:before {
  content: '\f237';
}

/* line 1109, ../../sass/template/material-icon.scss */
.zmdi-camera-alt:before {
  content: '\f238';
}

/* line 1112, ../../sass/template/material-icon.scss */
.zmdi-camera-front:before {
  content: '\f239';
}

/* line 1115, ../../sass/template/material-icon.scss */
.zmdi-camera-mic:before {
  content: '\f23a';
}

/* line 1118, ../../sass/template/material-icon.scss */
.zmdi-camera-monochrome-photos:before {
  content: '\f23b';
}

/* line 1121, ../../sass/template/material-icon.scss */
.zmdi-camera-party-mode:before {
  content: '\f23c';
}

/* line 1124, ../../sass/template/material-icon.scss */
.zmdi-camera-rear:before {
  content: '\f23d';
}

/* line 1127, ../../sass/template/material-icon.scss */
.zmdi-camera-roll:before {
  content: '\f23e';
}

/* line 1130, ../../sass/template/material-icon.scss */
.zmdi-camera-switch:before {
  content: '\f23f';
}

/* line 1133, ../../sass/template/material-icon.scss */
.zmdi-camera:before {
  content: '\f240';
}

/* line 1136, ../../sass/template/material-icon.scss */
.zmdi-card-alert:before {
  content: '\f241';
}

/* line 1139, ../../sass/template/material-icon.scss */
.zmdi-card-off:before {
  content: '\f242';
}

/* line 1142, ../../sass/template/material-icon.scss */
.zmdi-card-sd:before {
  content: '\f243';
}

/* line 1145, ../../sass/template/material-icon.scss */
.zmdi-card-sim:before {
  content: '\f244';
}

/* line 1148, ../../sass/template/material-icon.scss */
.zmdi-desktop-mac:before {
  content: '\f245';
}

/* line 1151, ../../sass/template/material-icon.scss */
.zmdi-desktop-windows:before {
  content: '\f246';
}

/* line 1154, ../../sass/template/material-icon.scss */
.zmdi-device-hub:before {
  content: '\f247';
}

/* line 1157, ../../sass/template/material-icon.scss */
.zmdi-devices-off:before {
  content: '\f248';
}

/* line 1160, ../../sass/template/material-icon.scss */
.zmdi-devices:before {
  content: '\f249';
}

/* line 1163, ../../sass/template/material-icon.scss */
.zmdi-dock:before {
  content: '\f24a';
}

/* line 1166, ../../sass/template/material-icon.scss */
.zmdi-gamepad:before {
  content: '\f24b';
}

/* line 1169, ../../sass/template/material-icon.scss */
.zmdi-headset-mic:before {
  content: '\f24c';
}

/* line 1172, ../../sass/template/material-icon.scss */
.zmdi-headset:before {
  content: '\f24d';
}

/* line 1175, ../../sass/template/material-icon.scss */
.zmdi-input-antenna:before {
  content: '\f24e';
}

/* line 1178, ../../sass/template/material-icon.scss */
.zmdi-input-composite:before {
  content: '\f24f';
}

/* line 1181, ../../sass/template/material-icon.scss */
.zmdi-input-hdmi:before {
  content: '\f250';
}

/* line 1184, ../../sass/template/material-icon.scss */
.zmdi-input-power:before {
  content: '\f251';
}

/* line 1187, ../../sass/template/material-icon.scss */
.zmdi-input-svideo:before {
  content: '\f252';
}

/* line 1190, ../../sass/template/material-icon.scss */
.zmdi-keyboard-hide:before {
  content: '\f253';
}

/* line 1193, ../../sass/template/material-icon.scss */
.zmdi-keyboard:before {
  content: '\f254';
}

/* line 1196, ../../sass/template/material-icon.scss */
.zmdi-laptop-chromebook:before {
  content: '\f255';
}

/* line 1199, ../../sass/template/material-icon.scss */
.zmdi-laptop-mac:before {
  content: '\f256';
}

/* line 1202, ../../sass/template/material-icon.scss */
.zmdi-laptop:before {
  content: '\f257';
}

/* line 1205, ../../sass/template/material-icon.scss */
.zmdi-live-tv:before {
  content: '\f258';
}

/* line 1208, ../../sass/template/material-icon.scss */
.zmdi-mic-off:before {
  content: '\f259';
}

/* line 1211, ../../sass/template/material-icon.scss */
.zmdi-mic-outline:before {
  content: '\f25a';
}

/* line 1214, ../../sass/template/material-icon.scss */
.zmdi-mic-setting:before {
  content: '\f25b';
}

/* line 1217, ../../sass/template/material-icon.scss */
.zmdi-mic:before {
  content: '\f25c';
}

/* line 1220, ../../sass/template/material-icon.scss */
.zmdi-mouse:before {
  content: '\f25d';
}

/* line 1223, ../../sass/template/material-icon.scss */
.zmdi-radio:before {
  content: '\f25e';
}

/* line 1226, ../../sass/template/material-icon.scss */
.zmdi-reader:before {
  content: '\f25f';
}

/* line 1229, ../../sass/template/material-icon.scss */
.zmdi-remote-control-alt:before {
  content: '\f260';
}

/* line 1232, ../../sass/template/material-icon.scss */
.zmdi-remote-control:before {
  content: '\f261';
}

/* line 1235, ../../sass/template/material-icon.scss */
.zmdi-router:before {
  content: '\f262';
}

/* line 1238, ../../sass/template/material-icon.scss */
.zmdi-scanner:before {
  content: '\f263';
}

/* line 1241, ../../sass/template/material-icon.scss */
.zmdi-smartphone-android:before {
  content: '\f264';
}

/* line 1244, ../../sass/template/material-icon.scss */
.zmdi-smartphone-download:before {
  content: '\f265';
}

/* line 1247, ../../sass/template/material-icon.scss */
.zmdi-smartphone-erase:before {
  content: '\f266';
}

/* line 1250, ../../sass/template/material-icon.scss */
.zmdi-smartphone-info:before {
  content: '\f267';
}

/* line 1253, ../../sass/template/material-icon.scss */
.zmdi-smartphone-iphone:before {
  content: '\f268';
}

/* line 1256, ../../sass/template/material-icon.scss */
.zmdi-smartphone-landscape-lock:before {
  content: '\f269';
}

/* line 1259, ../../sass/template/material-icon.scss */
.zmdi-smartphone-landscape:before {
  content: '\f26a';
}

/* line 1262, ../../sass/template/material-icon.scss */
.zmdi-smartphone-lock:before {
  content: '\f26b';
}

/* line 1265, ../../sass/template/material-icon.scss */
.zmdi-smartphone-portrait-lock:before {
  content: '\f26c';
}

/* line 1268, ../../sass/template/material-icon.scss */
.zmdi-smartphone-portrait:before {
  content: '\f26d';
}

/* line 1271, ../../sass/template/material-icon.scss */
.zmdi-smartphone-ring:before {
  content: '\f26e';
}

/* line 1274, ../../sass/template/material-icon.scss */
.zmdi-smartphone-setting:before {
  content: '\f26f';
}

/* line 1277, ../../sass/template/material-icon.scss */
.zmdi-smartphone-setup:before {
  content: '\f270';
}

/* line 1280, ../../sass/template/material-icon.scss */
.zmdi-smartphone:before {
  content: '\f271';
}

/* line 1283, ../../sass/template/material-icon.scss */
.zmdi-speaker:before {
  content: '\f272';
}

/* line 1286, ../../sass/template/material-icon.scss */
.zmdi-tablet-android:before {
  content: '\f273';
}

/* line 1289, ../../sass/template/material-icon.scss */
.zmdi-tablet-mac:before {
  content: '\f274';
}

/* line 1292, ../../sass/template/material-icon.scss */
.zmdi-tablet:before {
  content: '\f275';
}

/* line 1295, ../../sass/template/material-icon.scss */
.zmdi-tv-list:before {
  content: '\f276';
}

/* line 1298, ../../sass/template/material-icon.scss */
.zmdi-tv-play:before {
  content: '\f277';
}

/* line 1301, ../../sass/template/material-icon.scss */
.zmdi-tv:before {
  content: '\f278';
}

/* line 1304, ../../sass/template/material-icon.scss */
.zmdi-usb:before {
  content: '\f279';
}

/* line 1307, ../../sass/template/material-icon.scss */
.zmdi-videocam-off:before {
  content: '\f27a';
}

/* line 1310, ../../sass/template/material-icon.scss */
.zmdi-videocam-switch:before {
  content: '\f27b';
}

/* line 1313, ../../sass/template/material-icon.scss */
.zmdi-videocam:before {
  content: '\f27c';
}

/* line 1316, ../../sass/template/material-icon.scss */
.zmdi-watch:before {
  content: '\f27d';
}

/* line 1319, ../../sass/template/material-icon.scss */
.zmdi-directions-bike:before {
  content: '\f27e';
}

/* line 1322, ../../sass/template/material-icon.scss */
.zmdi-directions-boat:before {
  content: '\f27f';
}

/* line 1325, ../../sass/template/material-icon.scss */
.zmdi-directions-bus:before {
  content: '\f280';
}

/* line 1328, ../../sass/template/material-icon.scss */
.zmdi-directions-car:before {
  content: '\f281';
}

/* line 1331, ../../sass/template/material-icon.scss */
.zmdi-directions-railway:before {
  content: '\f282';
}

/* line 1334, ../../sass/template/material-icon.scss */
.zmdi-directions-run:before {
  content: '\f283';
}

/* line 1337, ../../sass/template/material-icon.scss */
.zmdi-directions-subway:before {
  content: '\f284';
}

/* line 1340, ../../sass/template/material-icon.scss */
.zmdi-directions-walk:before {
  content: '\f285';
}

/* line 1343, ../../sass/template/material-icon.scss */
.zmdi-directions:before {
  content: '\f286';
}

/* line 1346, ../../sass/template/material-icon.scss */
.zmdi-hotel:before {
  content: '\f287';
}

/* line 1349, ../../sass/template/material-icon.scss */
.zmdi-layers-clear:before {
  content: '\f288';
}

/* line 1352, ../../sass/template/material-icon.scss */
.zmdi-layers:before {
  content: '\f289';
}

/* line 1355, ../../sass/template/material-icon.scss */
.zmdi-local-activity:before {
  content: '\f28a';
}

/* line 1358, ../../sass/template/material-icon.scss */
.zmdi-local-airport:before {
  content: '\f28b';
}

/* line 1361, ../../sass/template/material-icon.scss */
.zmdi-local-atm:before {
  content: '\f28c';
}

/* line 1364, ../../sass/template/material-icon.scss */
.zmdi-local-bar:before {
  content: '\f28d';
}

/* line 1367, ../../sass/template/material-icon.scss */
.zmdi-local-cafe:before {
  content: '\f28e';
}

/* line 1370, ../../sass/template/material-icon.scss */
.zmdi-local-car-wash:before {
  content: '\f28f';
}

/* line 1373, ../../sass/template/material-icon.scss */
.zmdi-local-convenience-store:before {
  content: '\f290';
}

/* line 1376, ../../sass/template/material-icon.scss */
.zmdi-local-dining:before {
  content: '\f291';
}

/* line 1379, ../../sass/template/material-icon.scss */
.zmdi-local-drink:before {
  content: '\f292';
}

/* line 1382, ../../sass/template/material-icon.scss */
.zmdi-local-florist:before {
  content: '\f293';
}

/* line 1385, ../../sass/template/material-icon.scss */
.zmdi-local-gas-station:before {
  content: '\f294';
}

/* line 1388, ../../sass/template/material-icon.scss */
.zmdi-local-grocery-store:before {
  content: '\f295';
}

/* line 1391, ../../sass/template/material-icon.scss */
.zmdi-local-hospital:before {
  content: '\f296';
}

/* line 1394, ../../sass/template/material-icon.scss */
.zmdi-local-hotel:before {
  content: '\f297';
}

/* line 1397, ../../sass/template/material-icon.scss */
.zmdi-local-laundry-service:before {
  content: '\f298';
}

/* line 1400, ../../sass/template/material-icon.scss */
.zmdi-local-library:before {
  content: '\f299';
}

/* line 1403, ../../sass/template/material-icon.scss */
.zmdi-local-mall:before {
  content: '\f29a';
}

/* line 1406, ../../sass/template/material-icon.scss */
.zmdi-local-movies:before {
  content: '\f29b';
}

/* line 1409, ../../sass/template/material-icon.scss */
.zmdi-local-offer:before {
  content: '\f29c';
}

/* line 1412, ../../sass/template/material-icon.scss */
.zmdi-local-parking:before {
  content: '\f29d';
}

/* line 1415, ../../sass/template/material-icon.scss */
.zmdi-local-pharmacy:before {
  content: '\f29e';
}

/* line 1418, ../../sass/template/material-icon.scss */
.zmdi-local-phone:before {
  content: '\f29f';
}

/* line 1421, ../../sass/template/material-icon.scss */
.zmdi-local-pizza:before {
  content: '\f2a0';
}

/* line 1424, ../../sass/template/material-icon.scss */
.zmdi-local-play:before {
  content: '\f2a1';
}

/* line 1427, ../../sass/template/material-icon.scss */
.zmdi-local-post-office:before {
  content: '\f2a2';
}

/* line 1430, ../../sass/template/material-icon.scss */
.zmdi-local-printshop:before {
  content: '\f2a3';
}

/* line 1433, ../../sass/template/material-icon.scss */
.zmdi-local-see:before {
  content: '\f2a4';
}

/* line 1436, ../../sass/template/material-icon.scss */
.zmdi-local-shipping:before {
  content: '\f2a5';
}

/* line 1439, ../../sass/template/material-icon.scss */
.zmdi-local-store:before {
  content: '\f2a6';
}

/* line 1442, ../../sass/template/material-icon.scss */
.zmdi-local-taxi:before {
  content: '\f2a7';
}

/* line 1445, ../../sass/template/material-icon.scss */
.zmdi-local-wc:before {
  content: '\f2a8';
}

/* line 1448, ../../sass/template/material-icon.scss */
.zmdi-map:before {
  content: '\f2a9';
}

/* line 1451, ../../sass/template/material-icon.scss */
.zmdi-my-location:before {
  content: '\f2aa';
}

/* line 1454, ../../sass/template/material-icon.scss */
.zmdi-nature-people:before {
  content: '\f2ab';
}

/* line 1457, ../../sass/template/material-icon.scss */
.zmdi-nature:before {
  content: '\f2ac';
}

/* line 1460, ../../sass/template/material-icon.scss */
.zmdi-navigation:before {
  content: '\f2ad';
}

/* line 1463, ../../sass/template/material-icon.scss */
.zmdi-pin-account:before {
  content: '\f2ae';
}

/* line 1466, ../../sass/template/material-icon.scss */
.zmdi-pin-assistant:before {
  content: '\f2af';
}

/* line 1469, ../../sass/template/material-icon.scss */
.zmdi-pin-drop:before {
  content: '\f2b0';
}

/* line 1472, ../../sass/template/material-icon.scss */
.zmdi-pin-help:before {
  content: '\f2b1';
}

/* line 1475, ../../sass/template/material-icon.scss */
.zmdi-pin-off:before {
  content: '\f2b2';
}

/* line 1478, ../../sass/template/material-icon.scss */
.zmdi-pin:before {
  content: '\f2b3';
}

/* line 1481, ../../sass/template/material-icon.scss */
.zmdi-traffic:before {
  content: '\f2b4';
}

/* line 1484, ../../sass/template/material-icon.scss */
.zmdi-arrow-back:before {
  content: '\f2b5';
}

/* line 1487, ../../sass/template/material-icon.scss */
.zmdi-arrow-forward:before {
  content: '\f2b6';
}

/* line 1490, ../../sass/template/material-icon.scss */
.zmdi-arrow-in:before {
  content: '\f2b7';
}

/* line 1493, ../../sass/template/material-icon.scss */
.zmdi-arrow-merge:before {
  content: '\f2b8';
}

/* line 1496, ../../sass/template/material-icon.scss */
.zmdi-arrow-missed:before {
  content: '\f2b9';
}

/* line 1499, ../../sass/template/material-icon.scss */
.zmdi-arrow-out:before {
  content: '\f2ba';
}

/* line 1502, ../../sass/template/material-icon.scss */
.zmdi-arrow-split:before {
  content: '\f2bb';
}

/* line 1505, ../../sass/template/material-icon.scss */
.zmdi-arrows:before {
  content: '\f2bc';
}

/* line 1508, ../../sass/template/material-icon.scss */
.zmdi-caret-down-circle:before {
  content: '\f2bd';
}

/* line 1511, ../../sass/template/material-icon.scss */
.zmdi-caret-down:before {
  content: '\f2be';
}

/* line 1514, ../../sass/template/material-icon.scss */
.zmdi-caret-up:before {
  content: '\f2bf';
}

/* line 1517, ../../sass/template/material-icon.scss */
.zmdi-chevron-down:before {
  content: '\f2c0';
}

/* line 1520, ../../sass/template/material-icon.scss */
.zmdi-chevron-left:before {
  content: '\f2c1';
}

/* line 1523, ../../sass/template/material-icon.scss */
.zmdi-chevron-right:before {
  content: '\f2c2';
}

/* line 1526, ../../sass/template/material-icon.scss */
.zmdi-chevron-up:before {
  content: '\f2c3';
}

/* line 1529, ../../sass/template/material-icon.scss */
.zmdi-forward:before {
  content: '\f2c4';
}

/* line 1532, ../../sass/template/material-icon.scss */
.zmdi-import-export:before {
  content: '\f2c5';
}

/* line 1535, ../../sass/template/material-icon.scss */
.zmdi-long-arrow-left:before {
  content: '\f2c6';
}

/* line 1538, ../../sass/template/material-icon.scss */
.zmdi-long-arrow-return:before {
  content: '\f2c7';
}

/* line 1541, ../../sass/template/material-icon.scss */
.zmdi-long-arrow-tab:before {
  content: '\f2c8';
}

/* line 1544, ../../sass/template/material-icon.scss */
.zmdi-rotate-90-degrees-ccw:before {
  content: '\f2c9';
}

/* line 1547, ../../sass/template/material-icon.scss */
.zmdi-rotate-left:before {
  content: '\f2ca';
}

/* line 1550, ../../sass/template/material-icon.scss */
.zmdi-rotate-right:before {
  content: '\f2cb';
}

/* line 1553, ../../sass/template/material-icon.scss */
.zmdi-square-down:before {
  content: '\f2cc';
}

/* line 1556, ../../sass/template/material-icon.scss */
.zmdi-square-right:before {
  content: '\f2cd';
}

/* line 1559, ../../sass/template/material-icon.scss */
.zmdi-swap-alt:before {
  content: '\f2ce';
}

/* line 1562, ../../sass/template/material-icon.scss */
.zmdi-swap-vertical-:before {
  content: '\f2cf';
}

/* line 1565, ../../sass/template/material-icon.scss */
.zmdi-swap-vertical-circle:before {
  content: '\f2d0';
}

/* line 1568, ../../sass/template/material-icon.scss */
.zmdi-swap:before {
  content: '\f2d1';
}

/* line 1571, ../../sass/template/material-icon.scss */
.zmdi-trending-down:before {
  content: '\f2d2';
}

/* line 1574, ../../sass/template/material-icon.scss */
.zmdi-trending-flat:before {
  content: '\f2d3';
}

/* line 1577, ../../sass/template/material-icon.scss */
.zmdi-trending-up:before {
  content: '\f2d4';
}

/* line 1580, ../../sass/template/material-icon.scss */
.zmdi-unfold-less:before {
  content: '\f2d5';
}

/* line 1583, ../../sass/template/material-icon.scss */
.zmdi-unfold-more:before {
  content: '\f2d6';
}

/* line 1586, ../../sass/template/material-icon.scss */
.zmdi-apps:before {
  content: '\f2d7';
}

/* line 1589, ../../sass/template/material-icon.scss */
.zmdi-dehaze:before {
  content: '\f2d8';
}

/* line 1592, ../../sass/template/material-icon.scss */
.zmdi-filter-list:before {
  content: '\f2d9';
}

/* line 1595, ../../sass/template/material-icon.scss */
.zmdi-reorder:before {
  content: '\f2da';
}

/* line 1598, ../../sass/template/material-icon.scss */
.zmdi-sort:before {
  content: '\f2db';
}

/* line 1601, ../../sass/template/material-icon.scss */
.zmdi-view-agenda:before {
  content: '\f2dc';
}

/* line 1604, ../../sass/template/material-icon.scss */
.zmdi-view-array:before {
  content: '\f2dd';
}

/* line 1607, ../../sass/template/material-icon.scss */
.zmdi-view-carousel:before {
  content: '\f2de';
}

/* line 1610, ../../sass/template/material-icon.scss */
.zmdi-view-column:before {
  content: '\f2df';
}

/* line 1613, ../../sass/template/material-icon.scss */
.zmdi-view-comfy:before {
  content: '\f2e0';
}

/* line 1616, ../../sass/template/material-icon.scss */
.zmdi-view-compact:before {
  content: '\f2e1';
}

/* line 1619, ../../sass/template/material-icon.scss */
.zmdi-view-dashboard:before {
  content: '\f2e2';
}

/* line 1622, ../../sass/template/material-icon.scss */
.zmdi-view-day:before {
  content: '\f2e3';
}

/* line 1625, ../../sass/template/material-icon.scss */
.zmdi-view-headline:before {
  content: '\f2e4';
}

/* line 1628, ../../sass/template/material-icon.scss */
.zmdi-view-list-alt:before {
  content: '\f2e5';
}

/* line 1631, ../../sass/template/material-icon.scss */
.zmdi-view-list:before {
  content: '\f2e6';
}

/* line 1634, ../../sass/template/material-icon.scss */
.zmdi-view-module:before {
  content: '\f2e7';
}

/* line 1637, ../../sass/template/material-icon.scss */
.zmdi-view-quilt:before {
  content: '\f2e8';
}

/* line 1640, ../../sass/template/material-icon.scss */
.zmdi-view-stream:before {
  content: '\f2e9';
}

/* line 1643, ../../sass/template/material-icon.scss */
.zmdi-view-subtitles:before {
  content: '\f2ea';
}

/* line 1646, ../../sass/template/material-icon.scss */
.zmdi-view-toc:before {
  content: '\f2eb';
}

/* line 1649, ../../sass/template/material-icon.scss */
.zmdi-view-web:before {
  content: '\f2ec';
}

/* line 1652, ../../sass/template/material-icon.scss */
.zmdi-view-week:before {
  content: '\f2ed';
}

/* line 1655, ../../sass/template/material-icon.scss */
.zmdi-widgets:before {
  content: '\f2ee';
}

/* line 1658, ../../sass/template/material-icon.scss */
.zmdi-alarm-add:before {
  content: '\f2ef';
}

/* line 1661, ../../sass/template/material-icon.scss */
.zmdi-alarm-check:before {
  content: '\f2f0';
}

/* line 1664, ../../sass/template/material-icon.scss */
.zmdi-alarm-off:before {
  content: '\f2f1';
}

/* line 1667, ../../sass/template/material-icon.scss */
.zmdi-alarm-snooze:before {
  content: '\f2f2';
}

/* line 1670, ../../sass/template/material-icon.scss */
.zmdi-alarm:before {
  content: '\f2f3';
}

/* line 1673, ../../sass/template/material-icon.scss */
.zmdi-calendar-alt:before {
  content: '\f2f4';
}

/* line 1676, ../../sass/template/material-icon.scss */
.zmdi-calendar-check:before {
  content: '\f2f5';
}

/* line 1679, ../../sass/template/material-icon.scss */
.zmdi-calendar-note:before {
  content: '\f2f6';
}

/* line 1682, ../../sass/template/material-icon.scss */
.zmdi-calendar-remove:before {
  content: '\f2f7';
}

/* line 1685, ../../sass/template/material-icon.scss */
.zmdi-calendar:before {
  content: '\f2f8';
}

/* line 1688, ../../sass/template/material-icon.scss */
.zmdi-time-countdown:before {
  content: '\f2f9';
}

/* line 1691, ../../sass/template/material-icon.scss */
.zmdi-time-interval:before {
  content: '\f2fa';
}

/* line 1694, ../../sass/template/material-icon.scss */
.zmdi-time-restore-setting:before {
  content: '\f2fb';
}

/* line 1697, ../../sass/template/material-icon.scss */
.zmdi-time-restore:before {
  content: '\f2fc';
}

/* line 1700, ../../sass/template/material-icon.scss */
.zmdi-time:before {
  content: '\f2fd';
}

/* line 1703, ../../sass/template/material-icon.scss */
.zmdi-timer-off:before {
  content: '\f2fe';
}

/* line 1706, ../../sass/template/material-icon.scss */
.zmdi-timer:before {
  content: '\f2ff';
}

/* line 1709, ../../sass/template/material-icon.scss */
.zmdi-adb:before {
  content: '\f300';
}

/* line 1712, ../../sass/template/material-icon.scss */
.zmdi-android:before {
  content: '\f301';
}

/* line 1715, ../../sass/template/material-icon.scss */
.zmdi-polymer:before {
  content: '\f302';
}

/* line 1718, ../../sass/template/material-icon.scss */
.zmdi-share:before {
  content: '\f303';
}

/* line 1721, ../../sass/template/material-icon.scss */
.zmdi-phone-bluetooth:before {
  content: '\f304';
}

/* line 1724, ../../sass/template/material-icon.scss */
.zmdi-phone-end:before {
  content: '\f305';
}

/* line 1727, ../../sass/template/material-icon.scss */
.zmdi-phone-forwarded:before {
  content: '\f306';
}

/* line 1730, ../../sass/template/material-icon.scss */
.zmdi-phone-in-talk:before {
  content: '\f307';
}

/* line 1733, ../../sass/template/material-icon.scss */
.zmdi-phone-locked:before {
  content: '\f308';
}

/* line 1736, ../../sass/template/material-icon.scss */
.zmdi-phone-missed:before {
  content: '\f309';
}

/* line 1739, ../../sass/template/material-icon.scss */
.zmdi-phone-msg:before {
  content: '\f30a';
}

/* line 1742, ../../sass/template/material-icon.scss */
.zmdi-phone-paused:before {
  content: '\f30b';
}

/* line 1745, ../../sass/template/material-icon.scss */
.zmdi-phone-ring:before {
  content: '\f30c';
}

/* line 1748, ../../sass/template/material-icon.scss */
.zmdi-phone-setting:before {
  content: '\f30d';
}

/* line 1751, ../../sass/template/material-icon.scss */
.zmdi-phone-sip:before {
  content: '\f30e';
}

/* line 1754, ../../sass/template/material-icon.scss */
.zmdi-phone:before {
  content: '\f30f';
}

/* line 1757, ../../sass/template/material-icon.scss */
.zmdi-aspect-ratio-alt:before {
  content: '\f310';
}

/* line 1760, ../../sass/template/material-icon.scss */
.zmdi-aspect-ratio:before {
  content: '\f311';
}

/* line 1763, ../../sass/template/material-icon.scss */
.zmdi-blur-circular:before {
  content: '\f312';
}

/* line 1766, ../../sass/template/material-icon.scss */
.zmdi-blur-linear:before {
  content: '\f313';
}

/* line 1769, ../../sass/template/material-icon.scss */
.zmdi-blur-off:before {
  content: '\f314';
}

/* line 1772, ../../sass/template/material-icon.scss */
.zmdi-blur:before {
  content: '\f315';
}

/* line 1775, ../../sass/template/material-icon.scss */
.zmdi-brightness-2:before {
  content: '\f316';
}

/* line 1778, ../../sass/template/material-icon.scss */
.zmdi-brightness-3:before {
  content: '\f317';
}

/* line 1781, ../../sass/template/material-icon.scss */
.zmdi-brightness-4:before {
  content: '\f318';
}

/* line 1784, ../../sass/template/material-icon.scss */
.zmdi-brightness-5:before {
  content: '\f319';
}

/* line 1787, ../../sass/template/material-icon.scss */
.zmdi-brightness-6:before {
  content: '\f31a';
}

/* line 1790, ../../sass/template/material-icon.scss */
.zmdi-brightness-7:before {
  content: '\f31b';
}

/* line 1793, ../../sass/template/material-icon.scss */
.zmdi-brightness-auto:before {
  content: '\f31c';
}

/* line 1796, ../../sass/template/material-icon.scss */
.zmdi-brightness-high:before {
  content: '\f31d';
}

/* line 1799, ../../sass/template/material-icon.scss */
.zmdi-brightness-low:before {
  content: '\f31e';
}

/* line 1802, ../../sass/template/material-icon.scss */
.zmdi-brightness-medium:before {
  content: '\f31f';
}

/* line 1805, ../../sass/template/material-icon.scss */
.zmdi-brightness-setting:before {
  content: '\f320';
}

/* line 1808, ../../sass/template/material-icon.scss */
.zmdi-broken-image:before {
  content: '\f321';
}

/* line 1811, ../../sass/template/material-icon.scss */
.zmdi-center-focus-strong:before {
  content: '\f322';
}

/* line 1814, ../../sass/template/material-icon.scss */
.zmdi-center-focus-weak:before {
  content: '\f323';
}

/* line 1817, ../../sass/template/material-icon.scss */
.zmdi-compare:before {
  content: '\f324';
}

/* line 1820, ../../sass/template/material-icon.scss */
.zmdi-crop-16-9:before {
  content: '\f325';
}

/* line 1823, ../../sass/template/material-icon.scss */
.zmdi-crop-3-2:before {
  content: '\f326';
}

/* line 1826, ../../sass/template/material-icon.scss */
.zmdi-crop-5-4:before {
  content: '\f327';
}

/* line 1829, ../../sass/template/material-icon.scss */
.zmdi-crop-7-5:before {
  content: '\f328';
}

/* line 1832, ../../sass/template/material-icon.scss */
.zmdi-crop-din:before {
  content: '\f329';
}

/* line 1835, ../../sass/template/material-icon.scss */
.zmdi-crop-free:before {
  content: '\f32a';
}

/* line 1838, ../../sass/template/material-icon.scss */
.zmdi-crop-landscape:before {
  content: '\f32b';
}

/* line 1841, ../../sass/template/material-icon.scss */
.zmdi-crop-original:before {
  content: '\f32c';
}

/* line 1844, ../../sass/template/material-icon.scss */
.zmdi-crop-portrait:before {
  content: '\f32d';
}

/* line 1847, ../../sass/template/material-icon.scss */
.zmdi-crop-square:before {
  content: '\f32e';
}

/* line 1850, ../../sass/template/material-icon.scss */
.zmdi-crop:before {
  content: '\f1e9';
}

/* line 1853, ../../sass/template/material-icon.scss */
.zmdi-daydream-setting:before {
  content: '\f32f';
}

/* line 1856, ../../sass/template/material-icon.scss */
.zmdi-exposure-alt:before {
  content: '\f330';
}

/* line 1859, ../../sass/template/material-icon.scss */
.zmdi-exposure:before {
  content: '\f331';
}

/* line 1862, ../../sass/template/material-icon.scss */
.zmdi-filter-b-and-w:before {
  content: '\f332';
}

/* line 1865, ../../sass/template/material-icon.scss */
.zmdi-filter-center-focus:before {
  content: '\f333';
}

/* line 1868, ../../sass/template/material-icon.scss */
.zmdi-filter-frames:before {
  content: '\f334';
}

/* line 1871, ../../sass/template/material-icon.scss */
.zmdi-filter-tilt-shift:before {
  content: '\f335';
}

/* line 1874, ../../sass/template/material-icon.scss */
.zmdi-gradient:before {
  content: '\f336';
}

/* line 1877, ../../sass/template/material-icon.scss */
.zmdi-grain:before {
  content: '\f337';
}

/* line 1880, ../../sass/template/material-icon.scss */
.zmdi-graphic-eq:before {
  content: '\f338';
}

/* line 1883, ../../sass/template/material-icon.scss */
.zmdi-grid-off:before {
  content: '\f339';
}

/* line 1886, ../../sass/template/material-icon.scss */
.zmdi-grid:before {
  content: '\f33a';
}

/* line 1889, ../../sass/template/material-icon.scss */
.zmdi-hdr-off:before {
  content: '\f33b';
}

/* line 1892, ../../sass/template/material-icon.scss */
.zmdi-hdr-strong:before {
  content: '\f33c';
}

/* line 1895, ../../sass/template/material-icon.scss */
.zmdi-hdr-weak:before {
  content: '\f33d';
}

/* line 1898, ../../sass/template/material-icon.scss */
.zmdi-hdr:before {
  content: '\f33e';
}

/* line 1901, ../../sass/template/material-icon.scss */
.zmdi-leak-remove:before {
  content: '\f33f';
}

/* line 1904, ../../sass/template/material-icon.scss */
.zmdi-leak:before {
  content: '\f340';
}

/* line 1907, ../../sass/template/material-icon.scss */
.zmdi-looks:before {
  content: '\f341';
}

/* line 1910, ../../sass/template/material-icon.scss */
.zmdi-loupe:before {
  content: '\f342';
}

/* line 1913, ../../sass/template/material-icon.scss */
.zmdi-panorama-horizontal:before {
  content: '\f343';
}

/* line 1916, ../../sass/template/material-icon.scss */
.zmdi-panorama-vertical:before {
  content: '\f344';
}

/* line 1919, ../../sass/template/material-icon.scss */
.zmdi-panorama-wide-angle:before {
  content: '\f345';
}

/* line 1922, ../../sass/template/material-icon.scss */
.zmdi-photo-size-select-large:before {
  content: '\f346';
}

/* line 1925, ../../sass/template/material-icon.scss */
.zmdi-photo-size-select-small:before {
  content: '\f347';
}

/* line 1928, ../../sass/template/material-icon.scss */
.zmdi-picture-in-picture:before {
  content: '\f348';
}

/* line 1931, ../../sass/template/material-icon.scss */
.zmdi-slideshow:before {
  content: '\f349';
}

/* line 1934, ../../sass/template/material-icon.scss */
.zmdi-texture:before {
  content: '\f34a';
}

/* line 1937, ../../sass/template/material-icon.scss */
.zmdi-tonality:before {
  content: '\f34b';
}

/* line 1940, ../../sass/template/material-icon.scss */
.zmdi-vignette:before {
  content: '\f34c';
}

/* line 1943, ../../sass/template/material-icon.scss */
.zmdi-wb-auto:before {
  content: '\f34d';
}

/* line 1946, ../../sass/template/material-icon.scss */
.zmdi-wb-iridescent:before {
  content: '\f34e';
}

/* line 1949, ../../sass/template/material-icon.scss */
.zmdi-eject-alt:before {
  content: '\f34f';
}

/* line 1952, ../../sass/template/material-icon.scss */
.zmdi-eject:before {
  content: '\f350';
}

/* line 1955, ../../sass/template/material-icon.scss */
.zmdi-equalizer:before {
  content: '\f351';
}

/* line 1958, ../../sass/template/material-icon.scss */
.zmdi-fast-forward:before {
  content: '\f352';
}

/* line 1961, ../../sass/template/material-icon.scss */
.zmdi-fast-rewind:before {
  content: '\f353';
}

/* line 1964, ../../sass/template/material-icon.scss */
.zmdi-forward-10:before {
  content: '\f354';
}

/* line 1967, ../../sass/template/material-icon.scss */
.zmdi-forward-30:before {
  content: '\f355';
}

/* line 1970, ../../sass/template/material-icon.scss */
.zmdi-forward-5:before {
  content: '\f356';
}

/* line 1973, ../../sass/template/material-icon.scss */
.zmdi-hearing:before {
  content: '\f357';
}

/* line 1976, ../../sass/template/material-icon.scss */
.zmdi-movie-alt:before {
  content: '\f358';
}

/* line 1979, ../../sass/template/material-icon.scss */
.zmdi-movie:before {
  content: '\f359';
}

/* line 1982, ../../sass/template/material-icon.scss */
.zmdi-pause-circle-outline:before {
  content: '\f35a';
}

/* line 1985, ../../sass/template/material-icon.scss */
.zmdi-pause-circle:before {
  content: '\f35b';
}

/* line 1988, ../../sass/template/material-icon.scss */
.zmdi-pause:before {
  content: '\f35c';
}

/* line 1991, ../../sass/template/material-icon.scss */
.zmdi-play-circle-outline:before {
  content: '\f35d';
}

/* line 1994, ../../sass/template/material-icon.scss */
.zmdi-play-circle:before {
  content: '\f35e';
}

/* line 1997, ../../sass/template/material-icon.scss */
.zmdi-play:before {
  content: '\f35f';
}

/* line 2000, ../../sass/template/material-icon.scss */
.zmdi-repeat-one:before {
  content: '\f360';
}

/* line 2003, ../../sass/template/material-icon.scss */
.zmdi-repeat:before {
  content: '\f361';
}

/* line 2006, ../../sass/template/material-icon.scss */
.zmdi-replay-10:before {
  content: '\f362';
}

/* line 2009, ../../sass/template/material-icon.scss */
.zmdi-replay-30:before {
  content: '\f363';
}

/* line 2012, ../../sass/template/material-icon.scss */
.zmdi-replay-5:before {
  content: '\f364';
}

/* line 2015, ../../sass/template/material-icon.scss */
.zmdi-replay:before {
  content: '\f365';
}

/* line 2018, ../../sass/template/material-icon.scss */
.zmdi-shuffle:before {
  content: '\f366';
}

/* line 2021, ../../sass/template/material-icon.scss */
.zmdi-skip-next:before {
  content: '\f367';
}

/* line 2024, ../../sass/template/material-icon.scss */
.zmdi-skip-previous:before {
  content: '\f368';
}

/* line 2027, ../../sass/template/material-icon.scss */
.zmdi-stop:before {
  content: '\f369';
}

/* line 2030, ../../sass/template/material-icon.scss */
.zmdi-surround-sound:before {
  content: '\f36a';
}

/* line 2033, ../../sass/template/material-icon.scss */
.zmdi-tune:before {
  content: '\f36b';
}

/* line 2036, ../../sass/template/material-icon.scss */
.zmdi-volume-down:before {
  content: '\f36c';
}

/* line 2039, ../../sass/template/material-icon.scss */
.zmdi-volume-mute:before {
  content: '\f36d';
}

/* line 2042, ../../sass/template/material-icon.scss */
.zmdi-volume-off:before {
  content: '\f36e';
}

/* line 2045, ../../sass/template/material-icon.scss */
.zmdi-volume-up:before {
  content: '\f36f';
}

/* line 2048, ../../sass/template/material-icon.scss */
.zmdi-notifications-active:before {
  content: '\f370';
}

/* line 2051, ../../sass/template/material-icon.scss */
.zmdi-notifications-add:before {
  content: '\f371';
}

/* line 2054, ../../sass/template/material-icon.scss */
.zmdi-notifications-none:before {
  content: '\f372';
}

/* line 2057, ../../sass/template/material-icon.scss */
.zmdi-notifications-off:before {
  content: '\f373';
}

/* line 2060, ../../sass/template/material-icon.scss */
.zmdi-notifications-paused:before {
  content: '\f374';
}

/* line 2063, ../../sass/template/material-icon.scss */
.zmdi-notifications:before {
  content: '\f375';
}

/* line 2066, ../../sass/template/material-icon.scss */
.zmdi-bluetooth-connected:before {
  content: '\f376';
}

/* line 2069, ../../sass/template/material-icon.scss */
.zmdi-bluetooth-off:before {
  content: '\f377';
}

/* line 2072, ../../sass/template/material-icon.scss */
.zmdi-bluetooth-search:before {
  content: '\f378';
}

/* line 2075, ../../sass/template/material-icon.scss */
.zmdi-bluetooth-setting:before {
  content: '\f379';
}

/* line 2078, ../../sass/template/material-icon.scss */
.zmdi-bluetooth:before {
  content: '\f37a';
}

/* line 2081, ../../sass/template/material-icon.scss */
.zmdi-cast-connected:before {
  content: '\f37b';
}

/* line 2084, ../../sass/template/material-icon.scss */
.zmdi-cast:before {
  content: '\f37c';
}

/* line 2087, ../../sass/template/material-icon.scss */
.zmdi-dialpad:before {
  content: '\f37d';
}

/* line 2090, ../../sass/template/material-icon.scss */
.zmdi-gps-dot:before {
  content: '\f37e';
}

/* line 2093, ../../sass/template/material-icon.scss */
.zmdi-gps-off:before {
  content: '\f37f';
}

/* line 2096, ../../sass/template/material-icon.scss */
.zmdi-gps:before {
  content: '\f380';
}

/* line 2099, ../../sass/template/material-icon.scss */
.zmdi-network-locked:before {
  content: '\f381';
}

/* line 2102, ../../sass/template/material-icon.scss */
.zmdi-network-off:before {
  content: '\f382';
}

/* line 2105, ../../sass/template/material-icon.scss */
.zmdi-network-outline:before {
  content: '\f383';
}

/* line 2108, ../../sass/template/material-icon.scss */
.zmdi-network-setting:before {
  content: '\f384';
}

/* line 2111, ../../sass/template/material-icon.scss */
.zmdi-network-warning:before {
  content: '\f385';
}

/* line 2114, ../../sass/template/material-icon.scss */
.zmdi-network-wifi-alt:before {
  content: '\f386';
}

/* line 2117, ../../sass/template/material-icon.scss */
.zmdi-network-wifi-lock:before {
  content: '\f387';
}

/* line 2120, ../../sass/template/material-icon.scss */
.zmdi-network-wifi-off:before {
  content: '\f388';
}

/* line 2123, ../../sass/template/material-icon.scss */
.zmdi-network-wifi-scan:before {
  content: '\f389';
}

/* line 2126, ../../sass/template/material-icon.scss */
.zmdi-network-wifi:before {
  content: '\f38a';
}

/* line 2129, ../../sass/template/material-icon.scss */
.zmdi-network:before {
  content: '\f38b';
}

/* line 2132, ../../sass/template/material-icon.scss */
.zmdi-portable-wifi-changes:before {
  content: '\f38c';
}

/* line 2135, ../../sass/template/material-icon.scss */
.zmdi-portable-wifi-off:before {
  content: '\f38d';
}

/* line 2138, ../../sass/template/material-icon.scss */
.zmdi-portable-wifi:before {
  content: '\f38e';
}

/* line 2141, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-flat-angled:before {
  content: '\f38f';
}

/* line 2144, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-flat:before {
  content: '\f390';
}

/* line 2147, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-individual-suite:before {
  content: '\f391';
}

/* line 2150, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-legroom-extra:before {
  content: '\f392';
}

/* line 2153, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-legroom-normal:before {
  content: '\f393';
}

/* line 2156, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-legroom-reduced:before {
  content: '\f394';
}

/* line 2159, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-recline-extra:before {
  content: '\f395';
}

/* line 2162, ../../sass/template/material-icon.scss */
.zmdi-airline-seat-recline-normal:before {
  content: '\f396';
}

/* line 2165, ../../sass/template/material-icon.scss */
.zmdi-airplanemode-active:before {
  content: '\f397';
}

/* line 2168, ../../sass/template/material-icon.scss */
.zmdi-airplanemode-inactive:before {
  content: '\f398';
}

/* line 2171, ../../sass/template/material-icon.scss */
.zmdi-flight-land:before {
  content: '\f399';
}

/* line 2174, ../../sass/template/material-icon.scss */
.zmdi-flight-takeoff:before {
  content: '\f39a';
}

/* line 2177, ../../sass/template/material-icon.scss */
.zmdi-n-1-square:before {
  content: '\f39b';
}

/* line 2180, ../../sass/template/material-icon.scss */
.zmdi-n-2-square:before {
  content: '\f39c';
}

/* line 2183, ../../sass/template/material-icon.scss */
.zmdi-n-3-square:before {
  content: '\f39d';
}

/* line 2186, ../../sass/template/material-icon.scss */
.zmdi-n-4-square:before {
  content: '\f39e';
}

/* line 2189, ../../sass/template/material-icon.scss */
.zmdi-n-5-square:before {
  content: '\f39f';
}

/* line 2192, ../../sass/template/material-icon.scss */
.zmdi-n-6-square:before {
  content: '\f3a0';
}

/* line 2195, ../../sass/template/material-icon.scss */
.zmdi-neg-1:before {
  content: '\f3a1';
}

/* line 2198, ../../sass/template/material-icon.scss */
.zmdi-neg-2:before {
  content: '\f3a2';
}

/* line 2201, ../../sass/template/material-icon.scss */
.zmdi-plus-1:before {
  content: '\f3a3';
}

/* line 2204, ../../sass/template/material-icon.scss */
.zmdi-plus-2:before {
  content: '\f3a4';
}

/* line 2207, ../../sass/template/material-icon.scss */
.zmdi-sec-10:before {
  content: '\f3a5';
}

/* line 2210, ../../sass/template/material-icon.scss */
.zmdi-sec-3:before {
  content: '\f3a6';
}

/* line 2213, ../../sass/template/material-icon.scss */
.zmdi-zero:before {
  content: '\f3a7';
}

/* line 2216, ../../sass/template/material-icon.scss */
.zmdi-airplay:before {
  content: '\f3a8';
}

/* line 2219, ../../sass/template/material-icon.scss */
.zmdi-closed-caption:before {
  content: '\f3a9';
}

/* line 2222, ../../sass/template/material-icon.scss */
.zmdi-confirmation-number:before {
  content: '\f3aa';
}

/* line 2225, ../../sass/template/material-icon.scss */
.zmdi-developer-board:before {
  content: '\f3ab';
}

/* line 2228, ../../sass/template/material-icon.scss */
.zmdi-disc-full:before {
  content: '\f3ac';
}

/* line 2231, ../../sass/template/material-icon.scss */
.zmdi-explicit:before {
  content: '\f3ad';
}

/* line 2234, ../../sass/template/material-icon.scss */
.zmdi-flip-to-back:before {
  content: '\f3ae';
}

/* line 2237, ../../sass/template/material-icon.scss */
.zmdi-flip-to-front:before {
  content: '\f3af';
}

/* line 2240, ../../sass/template/material-icon.scss */
.zmdi-group-work:before {
  content: '\f3b0';
}

/* line 2243, ../../sass/template/material-icon.scss */
.zmdi-hd:before {
  content: '\f3b1';
}

/* line 2246, ../../sass/template/material-icon.scss */
.zmdi-hq:before {
  content: '\f3b2';
}

/* line 2249, ../../sass/template/material-icon.scss */
.zmdi-markunread-mailbox:before {
  content: '\f3b3';
}

/* line 2252, ../../sass/template/material-icon.scss */
.zmdi-memory:before {
  content: '\f3b4';
}

/* line 2255, ../../sass/template/material-icon.scss */
.zmdi-nfc:before {
  content: '\f3b5';
}

/* line 2258, ../../sass/template/material-icon.scss */
.zmdi-pages:before {
  content: '\f3b6';
}

/* line 2261, ../../sass/template/material-icon.scss */
.zmdi-play-for-work:before {
  content: '\f3b7';
}

/* line 2264, ../../sass/template/material-icon.scss */
.zmdi-power-input:before {
  content: '\f3b8';
}

/* line 2267, ../../sass/template/material-icon.scss */
.zmdi-present-to-all:before {
  content: '\f3b9';
}

/* line 2270, ../../sass/template/material-icon.scss */
.zmdi-satellite:before {
  content: '\f3ba';
}

/* line 2273, ../../sass/template/material-icon.scss */
.zmdi-tap-and-play:before {
  content: '\f3bb';
}

/* line 2276, ../../sass/template/material-icon.scss */
.zmdi-vibration:before {
  content: '\f3bc';
}

/* line 2279, ../../sass/template/material-icon.scss */
.zmdi-voicemail:before {
  content: '\f3bd';
}
