//Bootstrap
//-------------------------
$brand-success                      : #C4940C;
$btn-success-bg                     : $brand-success;
$btn-success-border                 : $brand-success;
$label-success-bg                   : $brand-success;
$progress-bar-success-bg            : $brand-success;
$link-hover-color                   : $brand-success;

//Themes 
//--------------------------
$theme-color                        : #C4940C;
$theme-color-rgba                   : rgba(196, 148, 12, 0.5);
$image-theme-path                   : '../../../images/';
$image-theme-skin                   : '../../../images/skins/brown/';
$woo-font-path                      : '../../../fonts/woocommerce/';
$theme-font-path                 	: '../../../fonts/';

